{% extends 'core/base.html' %}
{% load property_filters %}

{% block page_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="property" data-property>
  <div class="container">
    <div class="row">
      <div class="property__top-bar">
        <div class="column">
          <h2 class="property__title h2">{{ property.title }}</h2>

          <div class="property__location">
            <i class="ri-map-pin-line" aria-hidden="true"></i>
            <span>{% if property.postal_code %}{{ property.postal_code }} {% endif %}<a href="{{ city.get_absolute_url }}">{{ property.city }}</a>, {{ property.province }}, {{ property.country }}</span>
          </div>
        </div>

        <div class="column">
          <div class="property__price h2">${{ property.price|price_converter }}</div>
        </div>
      </div>

      {% if images|length > 0 %}
      <ul class="property__gallery">
        {% for i, image in images %}
        {% if i == 0 %}
        <li class="property__gallery__item property__gallery__item--main">
          <a data-fslightbox="gallery" href="{{ image }}">
            <img src="{{ image }}" alt="image{{ i }}">
          </a>
        </li>
        {% elif i > 0 and i < 3 %}
        <li class="property__gallery__item property__gallery__item--other">
          <a data-fslightbox="gallery" href="{{ image }}">
            <img src="{{ image }}" alt="image{{ i }}">
          </a>
        </li>
        {% elif i == 4 %}
        <li class="property__gallery__item property__gallery__item--other property__gallery__item--button">
          <a data-fslightbox="gallery" href="{{ image }}">
            <img src="{{ image }}" alt="image{{ i }}">
            <button class="btn">
              View more images
              <i class="btn-icon right ri-arrow-right-up-line" aria-hidden="true"></i>
            </button>
          </a>
        </li>
        {% else %}
        <li class="property__gallery__item property__gallery__item--hidden">
          <a data-fslightbox="gallery" href="{{ image }}">
            <img src="{{ image }}" alt="image{{ i }}">
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <li class="property__gallery__item property__gallery__item--main">
        <a data-fslightbox="gallery" href="{{ property.thumbnail.url }}">
          <img src="{{ property.thumbnail.url }}">
        </a>
      </li>
      {% endif %}
    </div>

    <div class="row property__modules-row">
      <div class="column">
        <div class="property__module">
          <div class="property__module__title">Description</div>

          <div class="property__description">
            {{ property.description|safe }}
          </div>

          <div class="property__details">
            <div class="property__module__title">Property details</div>

            <ul class="property__details__list">
              {% if property.category %}
              <li>
                <div class="h4">Property Type</div>
                <p>{{ property.category.name }}</p>
              </li>
              {% endif %}

              {% if property.number_of_bathrooms %}
              <li>
                <div class="h4">Bathrooms</div>
                <p>{% if property.number_of_bathrooms == 0 %}{{ property.number_of_bathrooms }} Bathrooms{% elif property.number_of_bathrooms == 1 %}{{ property.number_of_bathrooms }} Bathroom{% else %}{{ property.number_of_bathrooms }} Bathrooms{% endif %}</p>
              </li>
              {% endif %}

              {% if property.year_of_built %}
              <li>
                <div class="h4">Year of Built</div>
                <p>{{ property.year_of_built }}</p>
              </li>
              {% endif %}

              <li>
                <div class="h4">Bedrooms</div>
                <p>{% if property.number_of_bedrooms == 0 %}{{ property.number_of_bedrooms }} Bedrooms{% elif property.number_of_bedrooms == 1 %}{{ property.number_of_bedrooms }} Bedroom{% else %}{{ property.number_of_bedrooms }} Bedrooms{% endif %}</p>
              </li>

              {% if property.square_meters %}
              <li>
                <div class="h4">Size</div>
                <p>{{ property.square_meters }} Square Meters</p>
              </li>
              {% endif %}

              <li>
                <div class="h4">Parking Space</div>
                <p>{% if property.parking_space == 0 %}{{ property.parking_space }} Parking Spaces{% elif property.parking_space == 1 %}{{ property.parking_space }} Parking Space{% else %}{{ property.parking_space }} Parking Spaces{% endif %}</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="property__module">
          <div class="property__module__title">Amenities</div>

          <ul class="property__amenities">
            {% for amenity in property.amenities.all %}
            <li>
              <div class="property__amenities__icon">
                <img src="{{ amenity.image.url }}" aria-hidden="true" alt="{{ amenity.name|lower }} icon">
              </div>
              <span>{{ amenity.name }}</span>
            </li>
            {% endfor %}
          </ul>

        </div>

        <div class="property__module">
          <div class="property__module__title">Address</div>

          <div class="property__address" data-property-map id="map"></div>
        </div>

        <div class="property__module">
          <div class="property__module__title">What’s Nearby?</div>

          <div class="property__nearby" data-property-nearby>
            <ul class="property__nearby__buttons">
              <li>
                <button class="property__nearby__button active" data-property-nearby-button data-id="1">
                  <span class="property__nearby__button__icon">
                    <i class="ri-graduation-cap-line" aria-hidden="true"></i>
                  </span>
                  <span class="property__nearby__button__text">Education</span>
                </button>
              </li>

              <li>
                <button class="property__nearby__button" data-property-nearby-button data-id="2">
                  <span class="property__nearby__button__icon">
                    <i class="ri-hospital-line" aria-hidden="true"></i>
                  </span>
                  <span class="property__nearby__button__text">Health & Medical</span>
                </button>
              </li>

              <li>
                <button class="property__nearby__button" data-property-nearby-button data-id="3">
                  <span class="property__nearby__button__icon">
                    <i class="ri-taxi-fill" aria-hidden="true"></i>
                  </span>
                  <span class="property__nearby__button__text">Transportation</span>
                </button>
              </li>

              <li>
                <button class="property__nearby__button" data-property-nearby-button data-id="4">
                  <span class="property__nearby__button__icon">
                    <i class="ri-shopping-bag-3-line" aria-hidden="true"></i>
                  </span>
                  <span class="property__nearby__button__text">Shopping</span>
                </button>
              </li>
            </ul>

            <div class="property__nearby__contents">
              <div class="property__nearby__content active" data-property-nearby-content>
                <div class="h4">Educational Institutions</div>

                {% if property.education %}
                <ul class="property__nearby__stats">
                  {% for e in property.education.all %}
                  <li>
                    <div class="property__nearby__stats__name">{{ e.name }}</div>
                    <div class="property__nearby__stats__distance">{{ e.distance }} miles</div>
                    <div class="property__nearby__stats__stars">
                      {% for i in range %}
                      {% if i < e.rate|rate_converter %}
                      <i class="ri-star-fill"></i>
                      {% else %}
                      <i class="ri-star-line"></i>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="property__nearby__content" data-property-nearby-content>
                <div class="h4">Clinics and Hospitals</div>

                {% if property.health_and_medical %}
                <ul class="property__nearby__stats">
                  {% for h in property.health_and_medical.all %}
                  <li>
                    <div class="property__nearby__stats__name">{{ h.name }}</div>
                    <div class="property__nearby__stats__distance">{{ h.distance }} miles</div>
                    <div class="property__nearby__stats__stars">
                      {% for i in range %}
                      {% if i < h.rate|rate_converter %}
                      <i class="ri-star-fill"></i>
                      {% else %}
                      <i class="ri-star-line"></i>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              
              <div class="property__nearby__content" data-property-nearby-content>
                <div class="h4">Transportation Services</div>

                {% if property.transportation %}
                <ul class="property__nearby__stats">
                  {% for t in property.transportation.all %}
                  <li>
                    <div class="property__nearby__stats__name">{{ t.name }}</div>
                    <div class="property__nearby__stats__distance">{{ t.distance }} miles</div>
                    <div class="property__nearby__stats__stars">
                      {% for i in range %}
                      {% if i < t.rate|rate_converter %}
                      <i class="ri-star-fill"></i>
                      {% else %}
                      <i class="ri-star-line"></i>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class="property__nearby__content" data-property-nearby-content>
                <div class="h4">Shops</div>

                {% if property.shopping %}
                <ul class="property__nearby__stats">
                  {% for s in property.shopping.all %}
                  <li>
                    <div class="property__nearby__stats__name">{{ s.name }}</div>
                    <div class="property__nearby__stats__distance">{{ s.distance }} miles</div>
                    <div class="property__nearby__stats__stars">
                      {% for i in range %}
                      {% if i < s.rate|rate_converter %}
                      <i class="ri-star-fill"></i>
                      {% else %}
                      <i class="ri-star-line"></i>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="property__module">
          <div class="property__module__title">Mortgage Calculator</div>

          <div class="property__mortgage">
            <div class="property__mortgage__bars" data-mortgage-bars>
              <span class="property__mortgage__bar property__mortgage__bars--principal"></span>
              <span class="property__mortgage__bar property__mortgage__bars--tax"></span>
              <span class="property__mortgage__bar property__mortgage__bars--insurance"></span>
            </div>

            <ul class="property__mortgage__legend">
              <li class="property__mortgage__legend__item" data-principal>
                <span class="property__mortgage__legend__dot property__mortgage__legend__dot--principal"></span>
                <div class="property__mortgage__legend__text">Bank ($<span data-1-value>0</span>)</div>
              </li>

              <li class="property__mortgage__legend__item" data-principal>
                <span class="property__mortgage__legend__dot property__mortgage__legend__dot--tax"></span>
                <div class="property__mortgage__legend__text">Purchaser ($<span data-2-value>0</span>)</div>
              </li>

              <li class="property__mortgage__legend__item" data-principal>
                <span class="property__mortgage__legend__dot property__mortgage__legend__dot--insurance"></span>
                <div class="property__mortgage__legend__text">Others ($<span data-3-value>0</span>)</div>
              </li>
            </ul>

            <form data-mortgage-form class="theme-form property__mortgage__form property__form">

              <div class="form__row">
                  <div class="form__field">
                      <label for="total-amount" class="form__label">total amount * (cała kwota kupna)</label>
                      <div class="form__input-wrap">
                          <input data-total data-input data-required type="number" name="total-amount" id="total-amount" value="{{ property.price|convert_to_int }}">
                      </div>
                  </div>

                  <div class="form__field">
                    <label for="down-payment" class="form__label">down payment (wpłata własna)</label>
                    <div class="form__input-wrap">
                        <input data-down-payment data-input type="number" name="down-payment" id="down-payment">
                    </div>
                  </div>
              </div>
              
              <div class="form__row">
                  <div class="form__field">
                      <label for="interest-rate" class="form__label">interest rate * (oprocentowanie)</label>
                      <div class="form__input-wrap">
                          <input data-interest-rate data-input data-required type="number" name="interest-rate" id="interest-rate">
                      </div>
                  </div>

                  <div class="form__field">
                    <label for="loan-terms" class="form__label">loan terms * (lata spłaty)</label>
                    <div class="form__input-wrap">
                        <input data-loan-terms data-input data-required type="number" name="loan-terms" id="loan-terms">
                    </div>
                  </div>
              </div>

              <div class="form__row">
                  <div class="form__field">
                      <label for="property-tax" class="form__label">property tax (podatek od nier.)</label>
                      <div class="form__input-wrap">
                          <input data-property-tax data-input type="number" name="property-tax" id="property-tax">
                      </div>
                  </div>

                  <div class="form__field">
                    <label for="home-insurance" class="form__label">home insurance (ubezpieczenie domu)</label>
                    <div class="form__input-wrap">
                        <input data-home-insurance data-input type="number" name="home-insurance" id="home-insurance">
                    </div>
                  </div>
              </div>

              <div class="form__row submit-row">
                  <div class="form__field form__submit">
                      <button id="btn" class="btn secondary-btn btn--auto-width" type="submit">Calculate</button>
                  </div>
              </div>
          </form>
          </div>
        </div>

        {% if property.video %}
        <div class="property__module">
          <div class="property__module__title">Property Video</div>

          <div class="property__video">
            <video controls src="{{ property.video.url }}"></video>
          </div>
        </div>
        {% endif %}

        {% if reviews %}
        <div class="property__module">
          <div class="property__module__title property__module__title--reviews">
            <i class="ri-star-fill" aria-hidden="true"></i>
             Reviews
          </div>

          <div class="property__reviews">
            {% for review in reviews %}
            <div class="property__review">
              <div class="property__review__avatar">
                <img src="{{ review.user.image.url }}" alt="review author's avatar">
              </div>

              <div class="property__review__content">
                <div class="property__review__name"><a href="{% url 'account-details' review.user %}">{{ review.user }}</a></div>
                <div class="property__review__content__text" data-property-review-text>{{ review.content }}</div>
              </div>

              <ul class="property__review__stars">
                   {% for i in range %}
                    {% if i < review.rate|rate_converter %}
                    <i class="ri-star-fill"></i>
                    {% else %}
                    <i class="ri-star-line"></i>
                    {% endif %}
                    {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="property__module">
          <div class="property__module__title">Add Your Comment</div>

          <form data-property-review-form class="theme-form property__comment-form">

            <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                <label>leave this field blank to prove your humanity
                    <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                </label>
            </div>

            <div class="form__row">
              <div class="form__field">
                <div class="form__input-wrap property__comment-form__stars">
                  
                  <input data-star value="1" id="star1" checked type="radio" name="rating" class="visually-hidden">
                  <label for="star1">
                    <span class="visually-hidden">1 Star</span>
                    <svg viewBox="0 0 512 512"><path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>
                  </label>

                  <input data-star value="2" id="star2" type="radio" name="rating" class="visually-hidden">
                  <label for="star2">
                    <span class="visually-hidden">2 Stars</span>
                    <svg viewBox="0 0 512 512"><path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>
                  </label>

                  <input data-star value="3" id="star3" type="radio" name="rating" class="visually-hidden">
                  <label for="star3">
                    <span class="visually-hidden">3 Stars</span>
                    <svg viewBox="0 0 512 512"><path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>
                  </label>

                  <input data-star value="4" id="star4" type="radio" name="rating" class="visually-hidden">
                  <label for="star4">
                    <span class="visually-hidden">4 Stars</span>
                    <svg viewBox="0 0 512 512"><path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>
                  </label>

                  <input data-star value="5" id="star5" type="radio" name="rating" class="visually-hidden">
                  <label for="star5">
                    <span class="visually-hidden">5 Stars</span>
                    <svg viewBox="0 0 512 512"><path d="M512 198.525l-176.89-25.704-79.11-160.291-79.108 160.291-176.892 25.704 128 124.769-30.216 176.176 158.216-83.179 158.216 83.179-30.217-176.176 128.001-124.769z"></path></svg>
                  </label>

                </div>
              </div>
            </div>

            <div class="form__row">
                <div class="form__field">
                    <div class="form__input-wrap">
                        <textarea data-comment data-input placeholder="Write your comment here..." aria-label="Write your comment here"></textarea>
                    </div>
                </div>
            </div>

            <div class="form__row submit-row">
                <div class="form__field form__submit">
                    <button class="btn secondary-btn btn--auto-width" type="submit">Submit
                    </button>
                </div>
            </div>
        </form>
        </div>
        {% endif %}

      </div>

      <div class="column">
        <div class="property__module">
          <form data-property-schedule-form class="theme-form property__form-schedule property__form">

            <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                <label>leave this field blank to prove your humanity
                    <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                </label>
            </div>

            <div class="h4">Schedule A Tour</div>

            <div class="form__row">
                <div class="form__field">
                    <label for="schedule-date" class="form__label">date</label>
                    <div class="form__input-wrap">
                        <input data-date data-input type="date" id="schedule-date" min="{{ current_date }}">
                    </div>
                </div>
            </div>

            <div class="form__row">
                <div class="form__field">
                  <div class="form__label">Time</div>
                  <div class="form__input-wrap form__select-wrapper">
                    <div class="custom__select" data-custom-select>
                        <button
                            class="custom__select__button"
                            type="button"
                            role="combobox"
                            aria-labelledby="select button"
                            aria-haspopup="listbox"
                            aria-expanded="false"
                            aria-controls="time-select"
                            data-custom-select-btn>
                            <span class="custom__select__button__selected__wrapper">
                                <span class="custom__select__button__selected__value" data-custom-select-btn-value>Any</span>
                            </span>
                            <i class="custom__select__button__arrow ri-arrow-down-s-line" aria-hidden="true"></i>
                        </button>

                        <ul class="custom__select__dropdown" role="listbox" id="time-select">
                          <li role="option">
                              <input data-option type="radio" value="Any" id="any" name="time" checked/>
                              <label for="any">Any</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="9:00" id="9-00" name="time" />
                              <label for="9-00">9:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="9:30" id="9-30" name="time" />
                              <label for="9-30">9:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="10:00" id="10-00" name="time" />
                              <label for="10-00">10:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="10:30" id="10-30" name="time" />
                              <label for="10-30">10:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="11:00" id="11-00" name="time" />
                              <label for="11-00">11:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="11:30" id="11-30" name="time" />
                              <label for="11-30">11:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="12:00" id="12-00" name="time" />
                              <label for="12-00">12:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="12:30" id="12-30" name="time" />
                              <label for="12-30">12:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="13:00" id="13-00" name="time" />
                              <label for="13-00">13:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="13:30" id="13-30" name="time" />
                              <label for="13-30">13:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="14:00" id="14-00" name="time" />
                              <label for="14-00">14:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="14:30" id="14-30" name="time" />
                              <label for="14-30">14:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="15:00" id="15-00" name="time" />
                              <label for="15-00">15:00</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="15:30" id="15-30" name="time" />
                              <label for="15-30">15:30</label>
                          </li>

                          <li role="option">
                              <input data-option type="radio" value="16:00" id="16-00" name="time" />
                              <label for="16-00">16:00</label>
                          </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="form__row">
              <div class="form__field">
                  <label for="schedule-name" class="form__label">Full Name</label>
                  <div class="form__input-wrap">
                      <input data-name data-input type="text" id="schedule-name">
                  </div>
              </div>
            </div>

            <div class="form__row">
                <div class="form__field">
                    <label for="schedule-phone" class="form__label">Phone Number</label>
                    <div class="form__input-wrap">
                        <input data-phone data-input type="text" id="schedule-phone">
                    </div>
                </div>
            </div>

            <div class="form__row">
                <div class="form__field">
                    <label for="schedule-message" class="form__label">message</label>
                    <div class="form__input-wrap">
                        <textarea data-message data-input id="schedule-message"></textarea>
                    </div>
                </div>
            </div>


            <div class="form__row submit-row">
                <div class="form__field form__submit">
                    <button class="btn secondary-btn" type="submit">Submit Tour Request</button>
                </div>
            </div>
        </form>
        </div>

        <div class="property__module">
          <div class="property__agent">
            <div class="property__agent__avatar">
              <img src="{{ property.user.image.url }}" alt="agent avatar">
            </div>

            <a href="{% url 'account-details' property.user.username %}"><div class="h4">{% if property.user.account_type == 'Individual' %}{{ property.user.individual.first_name }} {{ property.user.individual.last_name }}{% else %}{{ property.user.business.company_name }}{% endif %}</div></a>
            <div class="property__agent__sign">{% if property.user.account_type == 'Individual' %}Private{% else %}Business{% endif %} Seller</div>

            <div class="property__agent__contact">
              <a href="mailto:{{ property.user.email }}" class="property__agent__contact__item">
                <i class="ri-mail-line" aria-hidden="true"></i>
                <span>E-mail</span>
              </a>

              <a href="tel:{% if property.user.account_type == 'Individual' %}{{ property.user.individual.phone_number }}{% else %}{{ property.user.business.phone_number }}{% endif %}" class="property__agent__contact__item">
                <i class="ri-phone-line" aria-hidden="true"></i>
                <span>Phone</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
</script>

<script>
  const $propertyMap = document.querySelector('[data-property-map]')
  const latitude = '{{ property.latitude }}'
  const longitude = '{{ property.longitude }}'
  if ($propertyMap) {
    const map = L.map('map').setView([latitude, longitude], 17)
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map)
    const mapMArker = L.icon({
      iconUrl: '/media/icons/map-marker2.svg',

      iconSize:     [64, 64],
      iconAnchor:   [32, 32],
    });
    const marker = L.marker([latitude, longitude], {icon: mapMArker}).addTo(map);
  }
</script>
{% endblock %}