{% extends 'core/base.html' %}
{% load float_converter %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="properties" data-properties>
    <div class="container">
        <div class="row properties__row">
            <div class="results-column">
                <div class="properties__results__top-bar">
                    <div class="properties__results__counter">
                        <span class="properties__results__counter__number">{{ properties|length }}</span> {% if properties|length == 0 %}Properties{% elif properties|length == 1 %}Property{% else %}Properties{% endif %}
                    </div>

                    <div class="properties__results__options">
                        <div class="properties__results__ordering">
                            <form class="properties__results__ordering__form">
                                <div class="custom__select" data-custom-select>
                                    <button 
                                        class="custom__select__button"
                                        type="button"
                                        role="combobox"
                                        aria-labelledby="select button"
                                        aria-haspopup="listbox"
                                        aria-expanded="false"
                                        aria-controls="select-order"
                                        data-custom-select-btn>
                                        <span class="custom__select__button__selected__wrapper">
                                            <span class="custom__select__button__selected__value" data-custom-select-btn-value>{{ sorted_type }}</span>
                                        </span>
                                        <i class="custom__select__button__arrow ri-arrow-down-s-line" aria-hidden="true"></i>
                                    </button>

                                    <ul class="custom__select__dropdown" role="listbox" id="select-order">
                                        <li role="option">
                                            <input data-option type="radio" value="Newest Properties" id="newest" name="properties-order" onchange="this.form.submit()" />
                                            <label for="newest">Newest Properties</label>
                                        </li>

                                        <li role="option">
                                            <input data-option type="radio" value="Oldest Properties" id="oldest" name="properties-order" onchange="this.form.submit()" />
                                            <label for="oldest">Oldest Properties</label>
                                        </li>

                                        <li role="option">
                                            <input data-option type="radio" value="Alphabetically Ascending" id="alphabetically-ascending" name="properties-order" onchange="this.form.submit()" />
                                            <label for="alphabetically-ascending">Alphabetically Ascending</label>
                                        </li>

                                        <li role="option">
                                            <input data-option type="radio" value="Alphabetically Descending" id="alphabetically-descending" name="properties-order" onchange="this.form.submit()" />
                                            <label for="alphabetically-descending">Alphabetically Descending</label>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>

                        <div class="properties__results__change-view" data-change-view>
                            <ul>
                                <li>
                                    <button class="properties__results__change-view__btn" aria-label="change to grid view" data-grid-btn>Grid</button>
                                </li>

                                <li>
                                    <button class="properties__results__change-view__btn" aria-label="change to list view" data-list-btn>List</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row properties-cards__row properties-cards__row--list" data-properties-row>
                    {% for page in pages %}
                    <div class="property-card__column">
                        <div class="property-card__wrapper" data-property-card data-id="{{ page.id }}">
                            <div class="property-card__image">
                                {% if page.is_featured %}<span class="property-card__badge property-card__badge--secondary">Featured</span>{% endif %}
                                <img src="{{ page.main_image.url }}" alt="property title image">
                            </div>

                            <div class="property-card__content">
                                <div class="property-card__title h4">
                                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                                </div>

                                {% if user.is_authenticated %}
                                <div class="property-card__favourite">
                                    <button class="property-card__favourite__btn {% if user in page.favourites.all %}active{% endif %}" data-add-to-favourites>
                                        <i class="ri-heart-line" aria-hidden="true"></i>
                                        <span class="visually-hidden">Add to favourites</span>
                                    </button>
                                </div>
                                {% endif %}

                                <div class="property-card__localization">
                                    <i class="ri-map-pin-line" aria-hidden="true"></i>
                                    {% if page.postal_code %}{{ page.postal_code }}{% endif %} {{ page.city }}, {{ page.province }}, {{ page.country }}
                                </div>
                                
                                <ul class="property-card__info">
                                    <li>
                                        <img src="/media/icons/properties/property-card-bed.svg" alt="beds icon" aria-hidden="true">
                                        <span>{% if page.number_of_bedrooms == 0 %}{{ page.number_of_bedrooms }} Bedrooms{% elif page.number_of_bedrooms == 1 %}{{ page.number_of_bedrooms }} Bedroom{% else %}{{ page.number_of_bedrooms }} Bedrooms{% endif %}</span>
                                    </li>

                                    <li>
                                        <img src="/media/icons/properties/property-card-bathroom.svg" alt="bath icon" aria-hidden="true">
                                        <span>{% if page.number_of_bathrooms == 0 %}{{ page.number_of_bathrooms }} Baths{% elif page.number_of_bathrooms == 1 %}{{ page.number_of_bathrooms }} Bath{% else %}{{ page.number_of_bathrooms }} Baths{% endif %}</span>
                                    </li>

                                    <li>
                                        <img src="/media/icons/properties/property-card-area.svg" alt="area icon" aria-hidden="true">
                                        <span>{{ page.square_meters }} Sq M</span>
                                    </li>
                                </ul>

                                <div class="property-card__footer">
                                    <div class="property-card__price">${{ page.price|price_converter }}</div>

                                    <span class="property-card__badge property-card__badge--primary">For {% if page.listing_status.name == 'Rent' %}Rent{% else %}Sale{% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if pages.paginator.num_pages > 1 %}
                {% include 'properties/pagination.html' %}
                {% endif %}
            </div>

            <div class="filters-column">
                {% include 'properties/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}