{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="account-details">
  <div class="container">
    <div class="row">
      <div class="left-column">
        <div class="account-details__block account-details__block--basic">
          <div class="account-details__avatar">
            <img src="{{ u.image.url }}" alt="user avatar">
          </div>

          <div class="account-details__basic-info">
            <p class="account-details__basic-info__name h3">{{ u.username }}</p>
            <p>{{ u.date_joined }}</p>
            <p>{{ u.email }}</p>
          </div>

        </div>

        <div class="account-details__block account-details__block--links">
          <div class="account-details__block__title">Social media</div>

          <ul>
            <li>
              <span>
                <i class="website ri-window-line" aria-hidden="true"></i>
                Website
              </span>

              {% if u.account_type == 'Individual' %}
                {% if profile.website_url %}<a href="{{ profile.website_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if profile.website_url %}<a href="{{ profile.website_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="fb ri-facebook-fill" aria-hidden="true"></i>
                Facebook
              </span>

              {% if u.account_type == 'Individual' %}
                {% if profile.facebook_url %}<a href="{{ profile.facebook_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if profile.facebook_url %}<a href="{{ profile.facebook_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="instagram ri-instagram-fill" aria-hidden="true"></i>
                Instagram
              </span>

              {% if u.account_type == 'Individual' %}
                {% if profile.instagram_url %}<a href="{{ profile.instagram_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if profile.instagram_url %}<a href="{{ profile.instagram_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="linkedin ri-linkedin-fill" aria-hidden="true"></i>
                LinkedIn
              </span>

              {% if u.account_type == 'Individual' %}
                {% if profile.linkedin_url %}<a href="{{ profile.linkedin_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if profile.linkedin_url %}<a href="{{ profile.linkedin_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>
          </ul>
        </div>
      </div>

      <div class="right-column">
        <div class="account-details__block account-details__block--info">
          <div class="account-details__block__title">Profile</div>

          <ul>

              {% if u.account_type == 'Individual' %}
            <li>
              <span>First Name:</span>
              {% if profile.first_name %}{{ profile.first_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Last Name:</span>
              {% if profile.last_name %}{{ profile.last_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Gender:</span>
              {% if profile.gender %}{{ profile.gender }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Phone Number:</span>
              {% if profile.phone_number %}{{ profile.phone_number }}{% else %}Not provided{% endif %}
            </li>

              {% else %}

            <li>
              <span>Company ID:</span>
              {% if profile.company_id %}{{ profile.company_id }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Company Name:</span>
              {% if profile.company_name %}{{ profile.company_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Phone Number:</span>
              {% if profile.phone_number %}{{ profile.phone_number }}{% else %}Not provided{% endif %}
            </li>
              {% endif %}
          </ul>
        </div>

        <div class="account-details__block account-details__block--info">
          <div class="account-details__block__title">Localization</div>

          <ul>
            <li>
              <span>Country:</span>

              {% if u.account_type == 'Individual' %}
                {% if profile.country %}{{ profile.country }}{% else %}Not provided{% endif %}
              {% else %}
                {% if profile.country %}{{ profile.country }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Province:</span>

              {% if u.account_type == 'Individual' %}
                {% if profile.province %}{{ profile.province }}{% else %}Not provided{% endif %}
              {% else %}
                {% if profile.province %}{{ profile.province }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>City:</span>

              {% if u.account_type == 'Individual' %}
                {% if profile.city %}{{ profile.city }}{% else %}Not provided{% endif %}
              {% else %}
                {% if profile.city %}{{ profile.city }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Street:</span>

              {% if u.account_type == 'Individual' %}
                {% if profile.street %}{{ profile.street }}{% else %}Not provided{% endif %}
              {% else %}
                {% if profile.street %}{{ profile.street }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Postal Code:</span>

              {% if u.account_type == 'Individual' %}
                {% if profile.postal_code %}{{ profile.postal_code }}{% else %}Not provided{% endif %}
              {% else %}
                {% if profile.postal_code %}{{ profile.postal_code }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>
          </ul>
        </div>



      </div>
    </div>
  </div>
</section>

{% endblock %}