{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="account-details">
  <div class="container">
    <div class="row">
      <div class="left-column">
        <div class="account-details__block account-details__block--basic">
          <div class="account-details__avatar">
            <img src="{{ user.image.url }}" alt="user avatar">
          </div>

          <div class="account-details__basic-info">
            <p class="account-details__basic-info__name h3">{{ user.username }}</p>
            <p>{{ user.date_joined }}</p>
            <p>{{ user.email }}</p>
          </div>

        </div>

        <div class="account-details__block account-details__block--links">
          <div class="account-details__block__title">Social media</div>

          <ul>
            <li>
              <span>
                <i class="website ri-window-line" aria-hidden="true"></i>
                Website
              </span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.website_url %}<a href="{{ user.individual.website_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if user.business.website_url %}<a href="{{ user.business.website_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="fb ri-facebook-fill" aria-hidden="true"></i>
                Facebook
              </span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.facebook_url %}<a href="{{ user.individual.facebook_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if user.business.facebook_url %}<a href="{{ user.business.facebook_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="instagram ri-instagram-fill" aria-hidden="true"></i>
                Instagram
              </span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.instagram_url %}<a href="{{ user.individual.instagram_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if user.business.instagram_url %}<a href="{{ user.business.instagram_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>

            <li>
              <span>
                <i class="linkedin ri-linkedin-fill" aria-hidden="true"></i>
                LinkedIn
              </span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.linkedin_url %}<a href="{{ user.individual.linkedin_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% else %}
                {% if user.business.linkedin_url %}<a href="{{ user.business.linkedin_url }}" target="_blank">Visit{% else %}Not provided{% endif %}</a>
              {% endif %}

            </li>
          </ul>
        </div>
      </div>

      <div class="right-column">
        <div class="account-details__block account-details__block--info">
          <div class="account-details__block__title">Profile</div>

          <ul>

              {% if user.account_type == 'Individual' %}
            <li>
              <span>First Name:</span>
              {% if user.individual.first_name %}{{ user.individual.first_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Last Name:</span>
              {% if user.individual.last_name %}{{ user.individual.last_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Gender:</span>
              {% if user.individual.gender %}{{ user.individual.gender }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Phone Number:</span>
              {% if user.individual.phone_number %}{{ user.individual.phone_number }}{% else %}Not provided{% endif %}
            </li>

              {% else %}

            <li>
              <span>Company ID:</span>
              {% if user.business.company_id %}{{ user.business.company_id }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Company Name:</span>
              {% if user.business.company_name %}{{ user.business.company_name }}{% else %}Not provided{% endif %}
            </li>

            <li>
              <span>Phone Number:</span>
              {% if user.business.phone_number %}{{ user.business.phone_number }}{% else %}Not provided{% endif %}
            </li>
              {% endif %}
          </ul>
        </div>

        <div class="account-details__block account-details__block--info">
          <div class="account-details__block__title">Localization</div>

          <ul>
            <li>
              <span>Country:</span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.country %}{{ user.individual.country }}{% else %}Not provided{% endif %}
              {% else %}
                {% if user.business.country %}{{ user.business.country }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Province:</span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.province %}{{ user.individual.province }}{% else %}Not provided{% endif %}
              {% else %}
                {% if user.business.province %}{{ user.business.province }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>City:</span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.city %}{{ user.individual.city }}{% else %}Not provided{% endif %}
              {% else %}
                {% if user.business.city %}{{ user.business.city }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Street:</span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.street %}{{ user.individual.street }}{% else %}Not provided{% endif %}
              {% else %}
                {% if user.business.street %}{{ user.business.street }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>

            <li>
              <span>Postal Code:</span>

              {% if user.account_type == 'Individual' %}
                {% if user.individual.postal_code %}{{ user.individual.postal_code }}{% else %}Not provided{% endif %}
              {% else %}
                {% if user.business.postal_code %}{{ user.business.postal_code }}{% else %}Not provided{% endif %}
              {% endif %}

            </li>
          </ul>
        </div>



      </div>
    </div>
  </div>
</section>

{% endblock %}