{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="remind-password">
  <div class="container">
    <div class="row">
      <div class="remind-password__slider-wrapper" data-forgot-password-wrapper>

        <div class="remind-password__slides">

          <div class="forgot-password__step-wrapper remind-password__step" data-forgot-password-step>
            <div class="remind-password__icon">
              <img src="/media/icons/forgot-password.png" alt="icon" aria-hidden="true">
            </div>

            <div class="section-title" data-sectiontitle-animation>
              <h2 class="main-title h2">Forgot Password?</h2>
            </div>

            <p>No worries, we’ll send you reset instructions</p>

            <form data-forgot-password-form class="theme-form forgot-password__form">
                <input type="hidden" name="csrftoken" value="{{ csrf_token }}">

                <div class="form__row">
                    <div class="form__field">
                        <label for="forgot-email">Email</label>
                        <div class="form__input-wrap">
                            <input data-email type="text" id="forgot-email" placeholder="Enter your email">
                        </div>
                    </div>
                </div>

                <div class="form__row submit-row">
                    <div class="form__field form__submit">
                        <button class="btn secondary-btn" type="submit" id="reset-password">Reset password</button>
                    </div>
                </div>
            </form>

          <div class="remind-password__back-link">
            <a href="">
              <img src="/media/icons/reming-password-back-icon.svg" alt="Back to log in icon">
              Back to log in
            </a>
          </div>

          <ul class="remind-password__steps-numbers">
            <li class="remind-password__step-number active">1</li>
            <li class="remind-password__step-number">2</li>
            <li class="remind-password__step-number">3</li>
            <li class="remind-password__step-number">4</li>
          </ul>
          </div>

          <div class="verification-password__step-wrapper remind-password__step" data-verification-password-step>
            <div class="remind-password__icon">
              <img src="/media/icons/verification-password.png" alt="icon" aria-hidden="true">
            </div>

            <div class="section-title" data-sectiontitle-animation>
              <h2 class="main-title h2">Verification</h2>
            </div>

            <p>We sent to code to <span data-verification-email>shapezone@gmail.com</span></p>

            <form data-verification-password-form class="theme-form verification-password__form">
                <input type="hidden" name="csrftoken" value="{{ csrf_token }}">

                <div class="form__row">
                    <div class="form__field">
                        <div class="form__input-wrap">
                            <input data-code type="text" maxlength = "1">
                            <input data-code type="text" maxlength = "1">
                            <input data-code type="text" maxlength = "1">
                            <input data-code type="text" maxlength = "1">
                        </div>
                    </div>
                </div>

                <div class="form__row submit-row">
                    <div class="form__field form__submit">
                        <button class="btn secondary-btn" type="submit">Continue</button>
                    </div>
                </div>
            </form>

            <div class="remind-password__resend-link">
              Didn’t receive the email? <span data-resend>Click Resend</span>
            </div>

            <div class="remind-password__back-link">
              <a href="">
                <img src="/media/icons/reming-password-back-icon.svg" alt="Back to log in icon">
                Back to log in
              </a>
            </div>
            
            <ul class="remind-password__steps-numbers">
              <li class="remind-password__step-number">1</li>
              <li class="remind-password__step-number active">2</li>
              <li class="remind-password__step-number">3</li>
              <li class="remind-password__step-number">4</li>
            </ul>
          </div>

        </div>

    </div>
    </div>
  </div>
</section>
{% endblock %}