{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="remind-password-steps">
  <div class="container">
    <div class="row">
      <div class="remind-password__wrapper">
        <div class="remind-password__icon">
          <img src="/media/icons/forgot-password.png" alt="icon" aria-hidden="true">
        </div>

        <div class="section-title" data-sectiontitle-animation>
          <h2 class="main-title h2">Forgot Password?</h2>
        </div>

        <p>No worries, we’ll send you reset instructions</p>

        <div class="forgot-password__form">
          <form data-forgot-password-form class="theme-form">
              <input type="hidden" name="csrftoken" value="{{ csrf_token }}">

              <div class="form__row">
                  <div class="form__field">
                      <label for="forgot-email">Email</label>
                      <div class="form__input-wrap">
                          <input data-email type="text" id="forgot-email" placeholder="Enter your email">
                      </div>
                  </div>
              </div>

              <div class="form__row submit-row">
                  <div class="form__field form__submit">
                      <button class="btn secondary-btn" type="submit" id="reset-password">Reset password</button>
                  </div>
              </div>
          </form>
      </div>

      <div class="remind-password__back-link">
        <a href="">
          <img src="/media/icons/reming-password-back-icon.svg" alt="Back to log in icon">
          Back to log in
        </a>
      </div>

      <ul class="remind-password__steps-numbers">
        <li class="remind-password__step-number active">1</li>
        <li class="remind-password__step-number active">2</li>
        <li class="remind-password__step-number active">3</li>
        <li class="remind-password__step-number active">4</li>
      </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}