{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block messages %}
{% include 'core/messages.html' %}
{% endblock %}

{% block content %}
<section class="user-access-page signup-page">
    <div class="container">
        <div class="row">
            <div class="testimony-column">
                <div class="login-testimony">
                    <div class="testimony__wrapper">
                        <div class="testimony__content">
                            We’ve been using United to kick start every new project and can’t imagine working without
                            it.
                        </div>

                        <div class="testimony__info">
                            <div class="testimony__avatar">
                                <img src="https://picsum.photos/90" alt="Prophet's Rolex picture">
                            </div>

                            <div class="testimony__name">Prophet Rolex</div>

                            <div class="testimony__signature">Head of Design, Envato</div>

                            <div class="testimony__stars">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-column">
                <div class="section-title">
                    <h2 class="main-title h2">Welcome back</h2>
                </div>

                <p class="form-description">Please enter your details:</p>

                <div class="login-form">
                    <form data-login-form class="theme-form">

                        <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                            <label>leave this field blank to prove your humanity
                                <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                            </label>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label for="login-email" class="form__label">email</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-mail-line" aria-hidden="true"></i>
                                    <input data-email data-input type="text" id="login-email" placeholder="Your Email">
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label for="password" class="form__label">password</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-lock-line" aria-hidden="true"></i>
                                    <input data-password data-input type="password" id="password" placeholder="Your Password">
                                    <i data-password-eye class="form__eye-icon ri-eye-off-line" aria-hidden="true"></i>
                                </div>
                                <a class="forgot-password" href="{% url 'forget-password' %}">Forgot Password?</a>
                            </div>
                        </div>

                        <div class="form__row submit-row">
                            <div class="form__field form__submit">
                                <button class="btn primary-btn" type="submit" id="sign-up">Log in</button>
                            </div>
                        </div>
                    </form>

                    <div class="form-question">Don’t have an account? <a href="{% url 'register' %}">Register</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}