<!-- <div class="message-content"> -->
We have received a request to reset your password. Enter the code below to reset.
Remember that the code below is active for the next 5 minutes. It will expire at {{ expire_password }}
<!-- </div> -->

<!-- <div class="code"> -->
  {{ one_time_password }}
<!-- </div> -->

<!-- <style>
  .message-content,
  .code{
    font-family: sans-serif;
  }
  .message-content{
    color: black;
  }
  .code{
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    color: #375844;
    font-size: 25px;
    font-weight: 800;
    box-shadow: 0 5px 15px rgb(148 153 170 / 25%);
  }
</style> -->