{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="user-access-page signup-page">
    <div class="container">
        <div class="row">
            <div class="testimony-column">
                <div class="login-testimony">
                    <div class="testimony__wrapper" data-animation-fade-from-bottom>
                        <div class="testimony__content">
                            Unlock the door to your dreams with our collection of exceptional properties.
                        </div>

                        <div class="testimony__info">
                            <div class="testimony__avatar">
                                <img src="https://picsum.photos/90" alt="Prophet's Rolex picture">
                            </div>

                            <div class="testimony__name">William Lee</div>

                            <div class="testimony__signature">Unknown real estate agent</div>

                            <div class="testimony__stars">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-column">
                <div class="section-title">
                    <h2 class="main-title h2" data-animation-fade-from-right>Register</h2>
                </div>

                <div class="signup-form">
                    <form data-signup-form class="theme-form">

                        <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                            <label>leave this field blank to prove your humanity
                                <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                            </label>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label class="form__label" for="username">username</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-user-line" aria-hidden="true"></i>
                                    <input data-username data-input type="text" id="username" placeholder="Username">
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label class="form__label" for="signup-email">email</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-mail-line" aria-hidden="true"></i>
                                    <input data-email data-input type="text" id="signup-email" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label class="form__label" for="password1">password</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-lock-line" aria-hidden="true"></i>
                                    <input data-password1 data-input type="password" id="password1" placeholder="Your Password">
                                    <i data-password-eye class="form__eye-icon ri-eye-off-line" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label class="form__label" for="password2">confirm password</label>
                                <div class="form__input-wrap">
                                    <i class="form__hint-icon ri-lock-line" aria-hidden="true"></i>
                                    <input data-password2 data-input type="password" id="password2" placeholder="Confirm Password">
                                    <i data-password-eye class="form__eye-icon ri-eye-off-line" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <label class="form__label">account type</label>
                                <div class="form__input-wrap form__radio-wrapper">
                                    <label>
                                        <input data-account-type data-input type="radio" name="account-type" value="individual" checked>
                                        <div class="radio__label">Individual</a></div>
                                    </label>

                                    <label>
                                        <input data-account-type data-input type="radio" name="account-type" value="business">
                                        <div class="radio__label">Business</a></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <div class="form__input-wrap form__checkbox-wrapper">
                                    <label>
                                        <input data-checkbox data-input type="checkbox">
                                        <div class="checkbox__label">I agree to the <a href="{% url 'privacy-policy' %}">Terms & Privacy</a></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form__row submit-row">
                            <div class="form__field form__submit">
                                <button class="btn secondary-btn" type="submit" id="sign-up">Sign Up</button>
                            </div>
                        </div>
                    </form>

                    <div class="form-question">Already have an account? <a href="{% url 'login' %}">Log In</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}