{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="user-details">
  <div class="container">
    <div class="row">
      <div class="nav-column">
        <div class="user__avatar">
          <img src="/media/default_profile_image.jpg" alt="user avatar">
        </div>

        <div class="user__name">
          Nazwa użytkownika
        </div>
      </div>

      <div class="details-column">
        email <br>

        <h3>Dane profilowe</h3>
        Imię i nazwisko <br>
        płeć <br>
        Numer telefonu

        <h3>Dane firmy</h3>
        Nazwa firmy <br>
        Id firmy <br>
        Numer telefonu

        <h3>Lokalizacja</h3>
        ul. nazwa ulicy numer kod miasto <br>
        region <br>
        kraj

        <h3>Social media</h3>
        <a href="#">Website </a> <br>
        <a href="#">Facebook</a> <br>
        <a href="#">Instagram </a> <br>
        <a href="#">LinkedIn </a>

      </div>
    </div>
  </div>
</section>

{% endblock %}