{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
    <div class="container">
        <div class="row blog__row blog-details__row">
            <div class="article__column">
                <article class="article">
                    <div class="article__full-image">
                        <img src="{{ article.image.url }}" alt="article image">
                    </div>

                    <div class="article__meta">
                        <div class="article__meta__author">
                            <img class="article__meta__author__image" src="{{ article.user.image.url }}"
                                 alt="author avatar">
                            <span class="article__meta__author__by">
                                By
                                <a href="{% url 'account-details' article.user.username %}">{{ article.user.username }}</a>
                            </span>
                        </div>
                        <div class="article__meta__date">
                            {{ article.date_posted }}
                        </div>
                    </div>

                    <h2 class="article__title h2">{{ article.title }}</h2>

                    <div class="article__body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipiscing elit sed do eiusmod tempor incididunt, ut
                            labore corpori
                            magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex occaecat
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat to
                            pariatur. Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt
                            mollit anim id.
                        </p>

                        <p>
                            Sed ut perspiciatis unde omnis iste natus, error sit voluptatem accusantium, doloremque
                            laudantium eaque
                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt veritatis
                            Nemo enim ipsam voluptatem, quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni
                            dolores eos qui, ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                            ipsum nostrum
                            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi, tempora incidunt ut
                            labore et dolore
                            magnam aliquam quaerat voluptatem.
                        </p>

                        <div class="images__grid">
                            <div class="images__grid__img-wrapper">
                                <img src="/media/article_images/pexels-max-rahubovskiy-6284229.jpg"
                                     alt="article image 1">
                            </div>

                            <div class="images__grid__img-wrapper">
                                <img src="/media/article_images/pexels-designecologist-1046639.jpg"
                                     alt="article image 2">
                            </div>
                        </div>

                        <h3 class="h2">Buying A Home In The Perfect Neighborhood</h3>

                        <p>
                            At vero eos et accusamus et, iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti
                            atque corrupti quos dolores et, quas molestias excepturi sint occaecati cupiditate non
                            provident asperiores
                            sunt in culpa qui, officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                            quidem doloribus
                            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                            cumque occaecat
                            impedit quo minus id quod maxime placeat facere possimus omnis, voluptas assumenda est omnis
                            dolor to
                            repellendus. Temporibus autem quibusdam et aut officiis.
                        </p>

                        <div class="quote">
                            <div class="quote__image">
                                <img src="{{ article.user.image.url }}" alt="">
                            </div>

                            <div class="quote__content">
                                <h5>Andrew Russel </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>

                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising
                            pain was born and
                            I will give you a complete account of the system and expound the actual teachings of the
                            great explorer of
                            the truth, the master-builder of human happiness. No one rejects dislikes or avoids pleasure
                            itself because
                            it is pleasure, but because those who do not know how to pursue pleasure rationally
                            encounter consequen
                            that are extremely painful. Nor again is there anyone who loves, or pursues or desires to
                            obtain pain of self
                            because it is pain, but because occasionally circumstances
                        </p>
                    </div>

                    <div class="article__footer">
                        <div class="article__footer__tags">
                            {% if article_tags|length > 0 %}
                            <span>Tags:</span>

                            <ul class="article__footer__tags__list">
                                {% for tag in article_tags %}
                                <li>
                                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        <ul class="article__footer__social-share">
                            <li>
                                <a href="#">
                                    <i class="ri-facebook-fill" aria-hidden="true"></i>
                                    <span class="visually-hidden">Share on facebook link</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-twitter-fill" aria-hidden="true"></i>
                                    <span class="visually-hidden">Share on twitter link</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-google-fill" aria-hidden="true"></i>
                                    <span class="visually-hidden">Share on google link</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ri-linkedin-fill" aria-hidden="true"></i>
                                    <span class="visually-hidden">Share on linkedin link</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="article__navigation">
                        <div class="article__navigation__button article__navigation__button--left">
                            {% if previous_article %}
                            <a href="{{ previous_article.get_absolute_url }}" aria-label="previous article">
                                <i class="ri-arrow-left-line" aria-hidden="true"></i>
                                Previous
                            </a>
                            {% endif %}
                        </div>

                        <div class="article__navigation__button article__navigation__button--right">
                            {% if next_article %}
                            <a href="{{ next_article.get_absolute_url }}" aria-label="next article">
                                Next
                                <i class="ri-arrow-right-line" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    {% include 'blog/comments-section.html' %}

                    <div class="article__comments__form">
                        <div class="article__comments__form__title">Add Your Comment</div>

                        <form data-article-comment-form class="theme-form">

                            <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                                <label>leave this field blank to prove your humanity
                                    <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                                </label>
                            </div>

                            <div class="form__row">
                                <div class="form__field">
                                    <div class="form__input-wrap">
                                        <input data-name data-input type="text" value="{% if user.is_authenticated %}{{ user.username }}{% endif %}" placeholder="Name" {% if user.is_authenticated %}disabled{% endif %} {% if user.is_authenticated %}aria-hidden="true"{% endif %}>
                                    </div>
                                </div>
                            </div>

                            <div class="form__row">
                                <div class="form__field">
                                    <div class="form__input-wrap">
                                        <textarea data-comment data-input placeholder="Write your comment here..." aria-label="Write your comment here"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form__row submit-row">
                                <div class="form__field form__submit">
                                    <button class="btn secondary-btn btn--auto-width" type="submit">Make a
                                        comment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>

            <div class="sidebar__column">
                {% include 'blog/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
<script>
    {% if user.is_authenticated %}const loggedIn = true{% else %}const loggedIn = false{% endif %}
    {% if user.is_authenticated %}const userName = '{{ request.user.username }}'{% endif %}
</script>
{% endblock %}