{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
    <div class="container">
        <div class="row blog__row">
            <div class="cards__column">
                <div class="row blog-cards_row">
                    {% for page in pages %}
                    <div class="blog-card__column">
                        <div class="blog-card__wrapper">
                            <a class="blog-card__category" href="{{ article.category.get_absolute_url }}">{{ page.category }}</a>
                            <div class="blog-card__image">
                                <a href="{{ page.get_absolute_url }}">
                                    <img src="{{ page.image.url }}" alt="{{ page.title }} intro image">
                                </a>
                            </div>
        
                            <div class="blog-card__content">
                                <div class="blog-card__info">
                                    <div class="blog-card__info__item">
                                        <div class="blog-card__info__icon">
                                            <img src="/media/icons/blog-card-author.svg" alt="author icon" aria-hidden="true">
                                        </div>

                                            <a href="{% url 'account-details' page.user %}"><div class="blog-card__info__title">{{ page.user.username }}</div></a>

                                    </div>
        
                                    <div class="blog-card__info__item">
                                        <div class="blog-card__info__icon">
                                            <img src="/media/icons/blog-card-calendar.svg" alt="calendar icon" aria-hidden="true">
                                        </div>
        
                                        <div class="blog-card__info__title">{{ page.date_posted }}</div>
                                    </div>
                                </div>
        
                                <div class="blog-card__article-title">
                                    <h3><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h3>
                                </div>
        
                                <a class="blog-card__read-more" href="{{ page.get_absolute_url }}" aria-label="Read more about {{ page.title }}">
                                    Read more
                                    <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if pages.paginator.num_pages > 1 %}
                {% include 'blog/pagination.html' %}
                {% endif %}
            </div>
    
            <div class="sidebar__column">
                {% include 'blog/sidebar.html' %}
            </div>
        </div>
    </div>

</section>
{% endblock %}