{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="blog">
    <div class="container">
        <div class="row title-row">
            <div class="section-title" data-sectiontitle-animation>
                <div class="upper-title h4">Blog</div>
                <h2 class="main-title h2">Our Trending Blog</h2>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            </p>
        </div>

        <div class="row blog-cards_row">
            {% for page in pages %}
            <div class="blog-card__column">
                <div class="blog-card__wrapper">
                    <a class="blog-card__category"
                       href="{{ page.category.get_absolute_url }}">{{ page.category }}</a>
                    <div class="blog-card__image">
                        <img src="{{ page.image.url }}">
                    </div>

                    <div class="blog-card__content">
                        <div class="blog-card__info">
                            <div class="blog-card__info__item">
                                <div class="blog-card__info__icon">
                                    <img src="/media/icons/blog-card-author.svg" alt="author icon">
                                </div>

                                <div class="blog-card__info__title">{{ page.user.username }}</div>
                            </div>

                            <div class="blog-card__info__item">
                                <div class="blog-card__info__icon">
                                    <img src="/media/icons/blog-card-calendar.svg" alt="calendar icon">
                                </div>

                                <div class="blog-card__info__title">{{ page.date_posted }}</div>
                            </div>
                        </div>

                        <div class="blog-card__article-title">
                            <h3><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h3>
                        </div>

                        <a class="blog-card__read-more" href="{{ page.get_absolute_url }}">
                            Read more
                            <img src="/media/icons/blog-card-read-more.svg" alt="read more icon">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'blog/pagination.html' %}
    </div>
</section>
{% endblock %}