{% load mptt_tags %}
{% load comment_decoder %}

<div class="article__comments" data-article-comments>
    <div class="article__comments__count">
        {% if comments_counter == 0 %}<span data-comments-counter>{{ comments_counter }}</span> Comments available{% elif comments_counter == 1 %}<span data-comments-counter>{{ comments_counter }}</span> Comment available{% else %} <span data-comments-counter>{{ comments_counter }}</span> Comments available{% endif %}
    </div>

    {% if comments %}
    <div class="article__comments__wrapper">
        {% recursetree comments %}
        {% if node.active %}
        <div class="article__comment" data-comment-id="{{ node.id }}" data-article-comment>
            <div class="article__comment__body" data-article-comment-body>
                <div class="article__comment__avatar">
                    <a href="#"><img src="{% if node.user.username %}{{ node.user.image.url }}{% else %}/media/default_profile_image.jpg{% endif %}"
                         alt="comment author's avatar"></a>
                </div>

                <div class="article__comment__content">
                    <div class="article__comment__name">
                        {% if node.user.username %}
                        <a href="{% url 'account-details' node.user %}">{{ node.user.username }}</a>
                        {% else %}
                        {{ node.full_name }}
                        {% endif %}
                    </div>

                    <div class="article__comment__content__body" data-comment-content-body>
                        {{ node.comment }}
                    </div>

                    <div class="article__comment__foter">
                        <div class="article__comment__date">{{ node.date_posted }}</div>
                        <div class="article__comment__controls">

                            {% if request.user == node.user %}
                            <button data-comment-edit-btn class="article__comment__btn article__comment__btn--edit"
                                    aria-label="Edit comment">
                                <i class="ri-message-2-line" aria-hidden="true"></i>
                                Edit
                            </button>

                            <button data-comment-delete-btn class="article__comment__btn article__comment__btn--delete"
                                    aria-label="Delete comment">
                                <i class="ri-chat-delete-line" aria-hidden="true"></i>
                                Delete
                            </button>
                            {% endif %}

                            <button data-comment-reply-btn class="article__comment__btn article__comment__btn--reply"
                                    aria-label="Reply to comment">
                                <i class="ri-reply-line" aria-hidden="true"></i>
                                Reply
                            </button>

                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="article__comment__rating">
                    <div class="article__comment__rating__wrapper article__comment__rating__like-wrapper"
                         data-comment-rating-wrapper>
                        <button class="article__comment__rating__btn" data-comment-like-btn>
                            <i class="{% if node in user_likes %}ri-thumb-up-fill{% else %}ri-thumb-up-line{% endif %}"
                               aria-hidden="true"></i>
                            <span class="visually-hidden">Like comment</span>
                        </button>

                        <span class="article__comment__rating__counter"
                              data-comment-likes-counter>{{ node.likes }}</span>
                    </div>

                    <div class="article__comment__rating__wrapper article__comment__rating__dislike-wrapper"
                         data-comment-rating-wrapper>
                        <button class="article__comment__rating__btn" data-comment-dislike-btn>
                            <i class="{% if node in user_dislikes %}ri-thumb-down-fill{% else %}ri-thumb-down-line{% endif %}"
                               aria-hidden="true"></i>
                            <span class="visually-hidden">Dislike comment</span>
                        </button>

                        <span class="article__comment__rating__counter" data-comment-dislikes-counter>{{ node.dislikes }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </div>

        {% endif %}

        {% endrecursetree %}
    </div>
    {% endif %}
</div>