<aside class="aside">
    <form class="theme-form aside__blog-search__form" method="get" action="{% url 'blog-results' %}">

        <div class="form__row">
            <div class="form__field">
                <div class="form__input-wrap">
                    <input type="text" placeholder="Search by keyword" name="search">
                </div>
                <button type="submit">
                    <img class="form__search-icon" src="/media/icons/blog-search.svg" alt="search icon">
                </button>
            </div>
        </div>
    </form>

    <div class="aside__module">
        <div class="h4 aside__title">Categories</div>

        <ul class="aside__categories">
            {% for slug, url, title, number in category_length %}
            <li class="aside__categories__item">
                <a class="aside__categories__link {% if slug in request.path %}active{% endif %}"
                   href="{{ url }}">
                    {{ title }}
                    <span class="aside__categories__count">({{ number }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row blog-cards_row">
        {% for article in newest_articles %}
        <img src="{{ article.image.url }}">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        {{ article.date_posted }}
        {% endfor %}
    </div>
</aside>