<aside class="aside">
    <form class="theme-form aside__blog-search__form" method="get" action="{% url 'blog-results' %}">

        <div class="form__row">
            <div class="form__field">
                <div class="form__input-wrap">
                    <input type="text" placeholder="Search by keyword" name="search" aria-label="type a keyword to search by">
                </div>
                <button type="submit">
                    <i class="ri-search-line" aria-hidden="true"></i>
                    <span class="visually-hidden">Search</span>
                </button>
            </div>
        </div>
    </form>

    <div class="aside__module">
        <div class="h4 aside__title">Categories</div>

        <ul class="aside__categories">
            {% for slug, url, name, number in get_category_info %}
            <li class="aside__categories__item">
                <a class="aside__categories__link {% if slug in request.path %}active{% endif %}" href="{{ url }}" aria-label="go to {{ name }} category">
                    {{ name }}
                    <span class="aside__categories__count">({{ number }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="aside__module">
        <div class="h4 aside__title">Recent posts</div>

        <ul class="aside__posts">
            {% for article in newest_articles %}
            <li class="aside__posts__item">
                <div class="aside__posts__item__image">
                    <a href="{{ article.get_absolute_url }}">
                        <img src="{{ article.image.url }}" alt="post image">
                    </a>
                </div>

                <div class="aside__posts__item__info">
                    <a href="{{ article.get_absolute_url }}" class="aside__posts__item__title">
                        {{ article.title }}
                    </a>

                    <div class="aside__posts__item__date">{{ article.date_posted }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="aside__module">
        <div class="h4 aside__title">Popular tags</div>

        {% if popular_tags|length > 0 %}
        <ul class="aside__tags">
            {% for tag in popular_tags %}
            <li class="aside__tags-item">
                <a href="{{ tag.get_absolute_url }}" class="aside__tags-link" aria-label="go to {{ tag }} tag">
                    {{ tag }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</aside>