/*----------------------------------*\
  #GOOGLE FONTS
\*----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/*----------------------------------*\
  #VARIABLES
\*----------------------------------*/

:root {

    /**
     * COLORS
      */
  
    --clr-primary: #375844;
    --clr-primary-alt: #22402e;
    --clr-primary-light-bg: #EFF5F2;
    --clr-secondary: #C66735;
    --clr-black: #000;
    --clr-footer: #0C131A;
    --clr-dark: #18201B;
    --clr-body-text: #777E7A;
  
    /**
     * TYPOGRAPHY
      */
  
    /* font family */
    --ff-body: 'Inter', sans-serif;
  
    /* font size */
    --fs-base: 62.5%;
    --fs-body-300: 1.4rem;
    --fs-body-400: 1.6rem;
    --fs-h1: 3.5rem;
    --fs-h2: 2.6rem;
    --fs-h3: 2rem;
    --fs-h4: 1.8rem;
  
    /* line height */
    --lh-body-300: 1.85em;
    --lh-body-400: 1.625em;

    /**
     * Radius
      */

    --br-300: .5rem;
    --br-400: 1rem;
    --br-500: 1.5rem;
    
    /**
     * CONTAINER
      */
  
    --container-400: 1140px;
    --side-space: 15px;
  }


/*----------------------------------*\
  #RESET
\*----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button{
  cursor: pointer;
  background-color: transparent;
}

input,
button{
  font-family: inherit;
  border: none;
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body{
  background-color: #fff;
  color: var(--clr-body-text);
  font-size: var(--fs-body-400);
  line-height: var(--lh-body-400);
  font-family: var(--ff-body);
}


/*----------------------------------*\
  #REUSED STYLES
\*----------------------------------*/

.container {
  width: 100%;
  max-width: calc(var(--container-400) + (var(--side-space)) * 2);
  margin: 0 auto;
  padding: 0 var(--side-space);
}

h1{
  font-size: var(--fs-h1);
  line-height: 1.25em;
  font-weight: 800;
  color: var(--clr-dark);
}

h2{
  font-size: var(--fs-h2);
  line-height: 1.38em;
  font-weight: 700;
  color: var(--clr-dark);
}

h3{
  font-size: var(--fs-h3);
  line-height: normal;
  font-weight: 500;
}

h4{
  font-size: var(--fs-h4);
  line-height: normal;
  font-weight: 500;
  color: var(--clr-dark);
}


/*----------------------------------*\
  #COMPONENTS
\*----------------------------------*/

/**
  * BUTTONS
   */

.btn{
  line-height: 45px;
  border-radius: var(--br-400);
  padding: 0 2rem;
  font-size: 1.6rem;
  transition: background-color .4s, color .4s;
}

.btn.primary-btn{
  background-color: var(--clr-primary);
  color: white;
}

.btn.primary-btn:hover,
.btn.primary-btn:focus-visible{
  background-color: var(--clr-primary-alt);
}


/*----------------------------------*\
  #OFFCANVAS
\*----------------------------------*/

#page-offcanvas{
  background-color: var(--clr-primary);
  width: 100%;
  height: 100%;
  padding: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(100%);
  transition: .4s ease;
  z-index: 10;
}

#page-offcanvas.active{
  transform: translateX(0);
}

#page-offcanvas .offcanvas-logo{
  margin-bottom: 4rem;
}

#page-offcanvas .offcanvas-logo img{
  width: 150px;
}

#page-offcanvas .offcanvas-menu .nav {
  display: flex;
  flex-direction: column;
}

#page-offcanvas .offcanvas-menu .nav .nav__item{
  margin-bottom: 1.5rem;
}

#page-offcanvas .offcanvas-menu .nav .nav__link {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

#page-offcanvas .offcanvas-menu .nav .nav__link.active,
#page-offcanvas .offcanvas-menu .nav .nav__link:hover,
#page-offcanvas .offcanvas-menu .nav .nav__link:focus-visible{
  color: var(--clr-secondary);
}

#page-offcanvas #offcanvas-close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  color: white;
  transition: color .4s;
}

#page-offcanvas #offcanvas-close:hover,
#page-offcanvas #offcanvas-close:focus-visible{
  color: var(--clr-secondary);
}


/*----------------------------------*\
  #HEADER
\*----------------------------------*/

#header {
  height: 70px;
  box-shadow: 0 30px 55px rgba(148, 148, 170, 0.15);
  position: relative;
  z-index: 5;
}

#header .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#header .header-logo img{
  max-width: 100px;
}

#header #nav {
  display: none;
}

#header #nav .nav{
  display: flex;
  align-items: center;
}

#header #nav .nav .nav__item {
  margin-right: 3rem;
}

#header #nav .nav .nav__item:last-child {
  margin-right: 0;
}

#header #nav .nav .nav__link{
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

#header #nav .nav .nav__link:hover,
#header #nav .nav .nav__link.active{
  color: var(--clr-primary);
}

#header .header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2.5rem;
}

#header .header-right .login{
  margin-right: 2rem;
}

#header .header-right .login a {
  font-size: 1.4rem;
  transition: color .4s;
}

#header .header-right .login a:hover,
#header .header-right .login a:focus-visible{
  color: var(--clr-primary)
}

#header .header-right .btn{
  font-size: 1.2rem;
  line-height: 35px;
  padding: 0 1.5rem;
}

#header #offcanvas-toggler{
  color: var(--clr-dark);
  transition: color .3s;
}

#header #offcanvas-toggler:hover,
#header #offcanvas-toggler:focus-visible{
  color: var(--clr-secondary);
}


/*----------------------------------*\
  #PAGE TITLE
\*----------------------------------*/

.page-title{
  padding: 3rem 0;
  background-color: var(--clr-primary-light-bg);
  background-image: url("/media/shapes/page-title-left.svg"),
                    url("/media/shapes/page-title-right.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%, 100% 50%;
  background-size: auto 100%, auto 85%;
}

.page-title .row{
  display: flex;
  justify-content: center;
}

.page-title .page-title__border-wrapper{
  padding: 2rem 8%;
  border: 2px solid white;
  border-radius: var(--br-500);
  text-align: center;
  box-shadow: 0 4px 6px #DBEFE5;
}

.page-title .breadcrumbs{
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

.page-title .breadcrumbs li{
  display: flex;
}

.page-title .breadcrumbs li a {
  color: var(--clr-dark);
  transition: .4s color;
}

.page-title .breadcrumbs li a:hover,
.page-title .breadcrumbs li a:focus-visible {
  color: var(--clr-secondary);
}

.page-title .breadcrumbs li span{
  color: var(--clr-secondary);
}

.page-title .breadcrumbs li a,
.page-title .breadcrumbs li span{
  display: inline-flex;
  align-items: center;
  margin-left: .6rem;
}

.page-title .breadcrumbs li a::before,
.page-title .breadcrumbs li span::before{
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: .6rem;
}

.page-title .breadcrumbs li a::before{
  background-color: var(--clr-dark);
}

.page-title .breadcrumbs li span::before{
  background-color: var(--clr-secondary);
}

.page-title .breadcrumbs li:first-child > *{
  margin: 0;
}

.page-title .breadcrumbs li:first-child > *:before{
  display: none;
}

.page-title .breadcrumbs li a:hover::before,
.page-title .breadcrumbs li a:focus-visible::before {
  color: var(--clr-secondary);
}


/*----------------------------------*\
  #FOOTER
\*----------------------------------*/

#footer{
  padding-top: 5.5rem;
  background-color: var(--clr-footer);
  position: relative;
}

.footer-shape {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .2;
}

#footer .row {
  position: relative;
}

#footer .footer__logo{
  margin-bottom: 2rem;
}

#footer .footer__logo img {
  width: 150px;
}

#footer .footer__description{
  margin-bottom: 3.2rem;
}

#footer .footer__newsletter{
  margin-bottom: 3rem;
}

#footer .footer__newsletter form .form__row{
  display: flex;
  align-items: center;
  background-color: #141E28;
  border-radius: var(--br-500);
  overflow: hidden;
}

#footer .footer__newsletter form .form__field {
  flex-grow: 1;
}

#footer .footer__newsletter form input#email {
  height: 55px;
  font-size: inherit;
  padding: 0 2rem;
  background-color: transparent;
  width: 100%;
  color: white;
  border: none;
  outline: none;
}

#footer .footer__newsletter form input::placeholder{
  color: white;
}

#footer .footer__newsletter form button#send-newsletter {
  line-height: 55px;
  padding: 0 2rem;
  font-size: inherit;
  border-radius: var(--br-500);
  color: white;
  font-weight: 500;
  outline: none;
  transition: background-color .2s;
}

#footer .footer__newsletter form button#send-newsletter:hover,
#footer .footer__newsletter form button#send-newsletter:focus-visible{
  background-color: var(--clr-secondary);
}

#footer .footer__socials .socials-list{
  display: flex;
}

#footer .footer__socials .socials-list .social-list__item {
  margin-right: 2rem;
}

#footer .footer__socials .socials-list .social-list__item a path{
  transition: fill .4s;
}

#footer .footer__socials .socials-list .social-list__item a:hover path,
#footer .footer__socials .socials-list .social-list__item a:focus-visible path{
  fill: var(--clr-secondary);
}



/*----------------------------------*\
  #BREAKPOINTS
\*----------------------------------*/

/**
  * MIN 768px
   */

@media screen and (min-width: 768px){
  /*----------------------------------*\
    #HEADER
  \*----------------------------------*/

  #header .header-logo img {
    max-width: 150px;
  }

  #header .header-right .login a {
    font-size: 1.6rem;
  }

  #header .header-right .btn {
    font-size: 1.6rem;
    line-height: 45px;
    padding: 0 2rem;
  }
}


/**
  * MIN 992px
   */

   @media screen and (min-width: 992px){

    /*----------------------------------*\
      #VARIABLES
    \*----------------------------------*/

    :root {

      /**
     * TYPOGRAPHY
      */
    
      /* font size */
      --fs-h1: 4.8rem;
      --fs-h2: 3.6rem;
      --fs-h3: 2rem;
      --fs-h4: 1.8rem;
      
      /**
      * CONTAINER
        */

      --side-space: 30px;
    }


    /*----------------------------------*\
      #HEADER
    \*----------------------------------*/

    #header {
      height: 105px;
    }
  
    #header #offcanvas-toggler {
      display: none;
    }

    #header .header-right {
      margin-right: 0;
      margin-left: unset;
    }

    #header #nav {
      display: block;
      margin: auto;
    }

    /*----------------------------------*\
      #PAGE TITLE
    \*----------------------------------*/

    .page-title {
      padding: 3.8rem 0;
    }

    .page-title .page-title__border-wrapper {
      padding: 2.8rem 8%;
    }
  }


/**
  * MIN 1200px
   */

   @media screen and (min-width: 1200px){

    /*----------------------------------*\
      #VARIABLES
    \*----------------------------------*/

    :root {
      
      /**
      * CONTAINER
        */

      --side-space: 50px;
    }


    /*----------------------------------*\
      #HEADER
    \*----------------------------------*/

    #header #nav .nav .nav__item {
      margin-right: 4rem;
    }
  }