{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="faq" data-faq-animation>
  <div class="container">
    <div class="row title-row">
      <div class="section-title" data-animation-fade-from-left>
        <h2 class="main-title h2">Frequently asked questions</h2>
      </div>

      <p>Questions you might ask about our products and services. </p>
    </div>

    <div class="row accordion-row">
      <div class="accordion-column">
        <div class="theme-accordion" data-theme-accordion data-animation-fade-from-bottom>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">How do I search for properties on your website?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>To search for properties, simply use our intuitive search bar at the top of the page. Enter your desired location, property type, price range, and any other specific criteria, then hit 'Search.' You can also use our advanced search filters for more tailored results.</p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">Are the property listings on your website up-to-date?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>Yes, we strive to ensure that all property listings on our website are kept up-to-date. Our team regularly updates the listings to reflect any changes in availability or pricing. </p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">Can I schedule a viewing for a property through your website?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>Absolutely! Once you've found a property you're interested in, simply click on the 'Schedule a Viewing' button located on the listing page. Fill out the form with your preferred date and time, and one of our agents will contact you to confirm the appointment.</p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">Are there any fees associated with using your website?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>No, there are no fees for using our website to search for properties. It's completely free for users to browse through our listings and find their dream home or investment opportunity.</p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">How can I get in touch with a real estate agent from your team?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>You can easily get in touch with one of our experienced real estate agents by filling out the contact form on our website, giving us a call at our office number, or sending us an email. We're here to assist you with any questions or inquiries you may have.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="image-column">
        <div class="faq__image"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}