<header id="header">
    <div class="container">
        <div class="row">
            <div class="header-logo">
                <a href="{% url 'index' %}">
                    <img src="/media/logo/logo-color.svg" alt="Global Estate Hub go to home page logo" aria-hidden="true">
                    <span class="visually-hidden">Global Estate Hub go to home page logo</span>
                </a>
            </div>

            <nav id="nav">
                {% include 'core/main-menu.html' %}
            </nav>

            <div class="header-right">
                {% if user.is_authenticated %}
                <div class="add-property">
                    <a href="{% url 'add-property' %}" class="btn primary-btn">Add property</a>
                </div>

                <div class="user-dropdown" data-user-dropdown>
                    <div class="user-greeting">
                        Hello
                        <a href="{% url 'account-settings' %}" aria-label="user settings">{{ user.username }}</a>
                    </div>

                    <button class="show-user-nav" data-show-user-nav aria-label="show user navigation dropdown">
                        <div class="user-avatar">
                            <img src={{ user.image.url }} alt="user avatar">
                        </div>

                        <i class="ri-arrow-down-s-line" aria-hidden="true"></i>
                    </button>

                    <div class="user-dropdown-nav" data-user-dropdown-nav>
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account-settings' %}">
                                    <i class="ri-user-settings-line" aria-hidden="true"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <i class="ri-logout-box-r-line" aria-hidden="true"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="login">
                    <a href="{% url 'login' %}">Login</a>
                </div>

                <a href="{% url 'register' %}" class="btn primary-btn">Sign Up</a>
                {% endif %}
            </div>

            <button id="offcanvas-toggler" data-open-offcanvas>
                <i class="ri-menu-3-line" aria-hidden="true"></i>
                <span class="visually-hidden">Show mobile menu</span>
            </button>
        </div>
    </div>
</header>
