
<div class="title" style="
  font-size: 1.3em;
  font-weight: 700;
  color: #18201B;
  margin: 10px 0;
">Hello {{ email }}!</div>

<p class="text" style="
  margin: 10px 0;
">Starting today, you will receive messages from us with updates on the real estate industry from around the world.</p>

<p class="text" style="
margin: 10px 0;
">We will also make sure to send you hot and the most affordable offers for buying, selling, and renting.</p>

<p class="info" style="
  background-color: #EFF5F2;
  border-radius: 1rem;
  padding: 15px;
  margin: 15px 0;
  color: black;
">Do you have any questions? We are available 24/7!</p>