{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--
      - favicon
    -->

    <!--
      - material icons
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!--
      - custom css
    -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    {% if title %}
    <title>{% block title %}{% endblock %} | Global Estate Hub</title>
    {% else %}
    <title>Global Estate Hub</title>
    {% endif %}

</head>

<body>

    <!--
      - #OFFCANVAS
    -->
    {% block offcanvas %}
    {% include 'estates/offcanvas.html' %}
    {% endblock %}

    <!--
      - #HEADER
    -->
    {% block header %}
    {% include 'estates/header.html' %}
    {% endblock %}

    <!--
      - #PAGE CONTENT
    -->

    <section>
        <div class="row">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            {% block footer %}
            {% include 'estates/footer.html' %}
            {% endblock %}
        </div>
    </section>

    <!--
      - #CUSTOM JAVASCRIPT
    -->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block page_scripts %}{% endblock %}
</body>

</html>