{% extends 'estates/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="faq" data-faq-animation>
  <div class="container">
    <div class="row title-row">
      <div class="section-title" data-sectiontitle-animation>
        <h2 class="main-title h2">Frequently asked questions</h2>
      </div>

      <p>Questions you might ask about our products and services. </p>
    </div>

    <div class="row accordion-row">
      <div class="accordion-column">
        <div class="theme-accordion" data-theme-accordion>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">How long can i enjoy free trial services?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>The length of a free trial service can vary depending on the company and the
                  specific service being offered. Some free trials may last for a few days, while others may last for several weeks or even a month. </p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">What is a home appraisal?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>The length of a free trial service can vary depending on the company and the
                  specific service being offered. Some free trials may last for a few days, while others may last for several weeks or even a month. </p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">How do I determine the value of my home?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>The length of a free trial service can vary depending on the company and the
                  specific service being offered. Some free trials may last for a few days, while others may last for several weeks or even a month. </p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">What is a home inspection?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>The length of a free trial service can vary depending on the company and the
                  specific service being offered. Some free trials may last for a few days, while others may last for several weeks or even a month. </p>
              </div>
            </div>
          </div>

          <div class="accordion__item">
            <div class="accordion__heading" data-heading>
              <h4 class="accordion__title h4">How much should I offer for a home?</h4>

              <div class="accordion__arrow">
                <img src="/media/icons/accordion-arrow.svg" alt="accordion arrow">
              </div>
            </div>

            <div class="accordion__content">
              <div class="accordion__body">
                <p>The length of a free trial service can vary depending on the company and the
                  specific service being offered. Some free trials may last for a few days, while others may last for several weeks or even a month. </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="image-column">
        <div class="faq__image"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}