<footer id="footer">
  <div class="footer-shape" aria-hidden="true">
    <img src="/media/shapes/footer.svg" alt="footer property shape">
  </div>
  <div class="container">
    <div class="row top-footer">
      <div class="footer-logo">
        <a href="{% url 'index' %}">
            <img src="/media/logo/logo-white.svg" alt="Global Estate Hub logo">
        </a>
      </div>

      <div class="footer__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. 
      </div>
    </div>

    <div class="row bottom-footer">

    </div>
  </div>
</footer>