<header id="header">
    <div class="container">
        <div class="row">
            <div class="header-logo">
                <a href="{% url 'index' %}">
                    <img src="/media/logo/logo-color.svg" alt="Global Estate Hub logo">
                </a>
            </div>

            <nav id="nav">
                {% include 'estates/main-menu.html' %}
            </nav>

            <div class="header-right">
                {% if not user.is_authenticated %}
                <div class="login">
                    <a href="{% url 'login' %}">Login</a>
                </div>

                <a href="{% url 'register' %}" class="btn primary-btn">Sign Up</a>

                {% else %}

                <div class="add-property">
                    <a href="#" class="btn primary-btn">Add property</a>
                </div>

                <div class="user-dropdown" data-user-dropdown>
                    <div class="user-greeting">
                        Hello
                        <a href="{% url 'account-settings' %}">{{ user.username }}</a>
                    </div>

                    <button class="show-user-nav" data-show-user-nav>
                        <div class="user-avatar">
                            <img src="https://picsum.photos/50" alt="user picture">
                        </div>

                        <span class="material-symbols-outlined">expand_more</span>
                    </button>

                    <div class="user-dropdown-nav" data-user-dropdown-nav>
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account-settings' %}">
                                    <span class="material-symbols-outlined">manage_accounts</span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <span class="material-symbols-outlined">logout</span>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>

            <button id="offcanvas-toggler" data-open-offcanvas>
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
    </div>
</header>
