<header id="header">
    <div class="container">
        <div class="row">
            <div class="header-logo">
                <a href="{% url 'index' %}">
                    <img src="/media/logo/logo-color.svg" alt="Global Estate Hub logo">
                </a>
            </div>

            <nav id="nav">
                {% include 'estates/main-menu.html' %}
            </nav>

            <div class="header-right">
                <div class="login">
                    <a href="{% url 'login' %}">Login</a>
                </div>

                <a href="{% url 'register' %}" class="btn primary-btn">Add property</a>
            </div>

            <button id="offcanvas-toggler" data-open-offcanvas>
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
    </div>
</header>
