{% extends 'estates/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page-title %}

<!--
  - #ABOUT US
-->

<section class="about" data-aboutsection-animation>
    <div class="row">
        <div class="container">
            <div class="content-column">
                <div class="section-title" data-sectiontitle-animation>
                    <div class="upper-title h4">About us</div>
                    <h2 class="main-title h2">We offer quality homes for purchase and rental</h2>
                </div>

                <div class="about__text">
                    We offer a wide range of properties to suit any budget and lifestyle
                    Whether you are looking for a starter home, a luxury property,
                    or an investment opportunity.
                </div>

                <div class="about__call">
                    <p>Talk to our destination as a direct call:</p>
                    <span class="number">+ 1 456 789 321</span>
                </div>

                <ul class="about__list">
                    <li class="about__list-item">Outstanding Property</li>
                    <li class="about__list-item">Provied the best services for users</li>
                    <li class="about__list-item">Modern city locations and exceptional lifestyle</li>
                </ul>

                <a href="#" class="btn secondary-btn">
                    Find out more
                    <img class="btn-icon right" src="/media/icons/btn-arrow-right.svg" alt="arrow">
                </a>
            </div>

            <div class="image-column">
                <div class="about__collage">
                    <div class="column-single">
                        <div class="image single"></div>
                    </div>

                    <div class="column-double">
                        <div class="image top"></div>
                        <div class="image bottom"></div>
                    </div>
                </div>

                <div class="about__quote">
                    <div class="quote-decoration">
                        <img class="quote-lines" src="/media/about_us/double-lines.png" alt="quote lines" aria-hidden="true">
                        <div class="quote-icon">
                            <img class="quote-mark" src="/media/about_us/quote.svg" alt="quote mark" aria-hidden="true">
                        </div>
                    </div>

                    Get the Best pricing plan that's perfect for you
                </div>

                <img class="about__arrow" src="/media/about_us/arrow.svg" alt="about arrow" aria-hidden="true">
            </div>
        </div>
    </div>
</section>


<!--
  - #OUR PARTNERS CAROUSEL
-->
<section class="our-partners">
    <div class="container">
        <div class="row">
            <div class="section-title" data-sectiontitle-animation>
                <h2 class="main-title h2">Our partners</h2>
            </div>

            <p>We only work with the best companies around the globe.</p>

            <div class="logo-carousel swiper" data-partners-carousel>
                <div class="swiper-wrapper">
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/airbnb.png" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/amazon.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/google.png" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/logitech.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/paypal.png" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/microsoft.png" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/yahoo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}