{% extends 'estates/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page-title %}

<section class="our-partners">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 class="main-title h2">Our partners</h2>
            </div>

            <p>We only work with the best companies around the globe</p>

            <div class="logo-carousel swiper" data-partners-carousel>
                <div class="swiper-wrapper">
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/airbnb.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/amazon.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/google.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/logitech.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/our_partners/paypal.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/logo/logo-color.svg" alt=""></a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="#"><img src="/media/logo/logo-color.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}