{% block header %}
<ul class="main-menu">
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">Home</a>
  </li>
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">About</a>
  </li>
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">Properties</a>
  </li>
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">Pages</a>
  </li>
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">Blogs</a>
  </li>
  <li class="top-nav__item">
      <a href="#" class="top-nav__link">Contact</a>
  </li>
</ul>
{% endblock %}