<ul class="main-menu nav">
  <li class="nav__item">
      <a href="#" class="nav__link active">Home</a>
  </li>
  <li class="nav__item">
      <a href="#" class="nav__link">About</a>
  </li>
  <li class="nav__item">
      <a href="#" class="nav__link">Properties</a>
  </li>
  <li class="nav__item">
      <a href="#" class="nav__link">Pages</a>
  </li>
  <li class="nav__item">
      <a href="#" class="nav__link">Blogs</a>
  </li>
  <li class="nav__item">
      <a href="#" class="nav__link">Contact</a>
  </li>
</ul>