<div id="page-offcanvas" data-offcanvas>
    <div class="offcanvas-logo">
        <a href="{% url 'index' %}">
            <img src="/media/logo/logo-white.svg" alt="Global Estate Hub logo">
        </a>
    </div>

    <div class="offcanvas-menu">
        {% include 'estates/main-menu.html' %}
    </div>

    {% if user.is_authenticated %}
    <a href="#" class="btn secondary-btn">Add property</a>
    {% endif %}

    <button id="offcanvas-close" data-close-offcanvas>
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
</div>