{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<!--
  - #ABOUT US
-->

<section class="about about-page" data-aboutsection-animation>
  <div class="container">
      <div class="row">
          <div class="content-column">
              <div class="section-title" data-sectiontitle-animation>
                  <div class="upper-title h4">About us</div>
                  <h2 class="main-title h2">We offer quality homes for purchase and rental</h2>
              </div>

              <div class="about__text">
                  We offer a wide range of properties to suit any budget and lifestyle
                  Whether you are looking for a starter home, a luxury property,
                  or an investment opportunity.
              </div>

              <div class="about__call">
                  <p>Talk to our destination as a direct call:</p>
                  <span class="number">+ 1 456 789 321</span>
              </div>

              <ul class="about__list">
                  <li class="about__list-item">Outstanding Property</li>
                  <li class="about__list-item">Provied the best services for users</li>
                  <li class="about__list-item">Modern city locations and exceptional lifestyle</li>
                  <li class="about__list-item">Buying, Selling, Property Management</li>
              </ul>
          </div>

          <div class="image-column">
              <div class="about__collage">
                  <div class="column-single">
                      <div class="image single"></div>
                  </div>

                  <div class="column-double">
                      <div class="image top"></div>
                      <div class="image bottom"></div>
                  </div>
              </div>

              <div class="about__quote">
                  <div class="quote-decoration">
                      <img class="quote-lines" src="/media/about_us/double-lines.png" alt="quote lines" aria-hidden="true">
                      <div class="quote-icon">
                          <img class="quote-mark" src="/media/about_us/quote.svg" alt="quote mark" aria-hidden="true">
                      </div>
                  </div>

                  Get the Best pricing plan that's perfect for you
              </div>

              <img class="about__arrow" src="/media/about_us/arrow.svg" alt="about arrow" aria-hidden="true">
          </div>
      </div>
  </div>
</section>


<!--
  - #OUR TEAM CAROUSEL
-->

<section class="our-team" data-out-team>
  <div class="container">
    <div class="row">
      <div class="content-column">
        <div class="section-title" data-sectiontitle-animation>
          <h2 class="main-title h1">Meet Our Team Of Creative Experts.</h2>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam
        </p>

        <div class="our-team__arrows">
          <div class="button-prev theme-arrow" data-left>
            <i class="ri-arrow-left-line" aria-hidden="true"></i>
          </div>
          <div class="button-next theme-arrow" data-right>
            <i class="ri-arrow-right-line" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="carousel-column">
        <div class="our-team__carousel swiper" data-our-team-carousel>
          
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team1.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team2.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team3.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team4.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            

            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team5.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="our-team__card">
                <div class="our-team__card-content">
                  <div class="our-team__card-image">
                    <img src="/media/team/team6.jpg" alt="David Mallan photo">
                  </div>

                  <div class="our-team__card-description">
                    <div class="our-team__card-info">
                      <h4 class="h4 our-team__card-name">David Mallan</h4>
                      <p class="our-team__card-signature">UI Designer</p>
                    </div>

                    <ul class="our-team__card-socials">
                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-instagram-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to instagram</span>
                        </a>
                      </li>

                      <li class="our-team__card-socials-item">
                        <a href="#" class="our-team__card-socials-link">
                          <i class="ri-twitter-line" aria-hidden="true"></i>
                          <span class="visually-hidden">Link to twitter</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<!--
  - #TESTIMONIALS SECTION
-->
<section class="testimonials" data-testimonials>
  <div class="container">
      <div class="row">
          <div class="section-title" data-sectiontitle-animation>
              <div class="upper-title h4">Testimonials</div>
              <h2 class="main-title h2"> Our Customer To Says</h2>
          </div>

          <div class="testimonials__text">Excellent Experience with Real Estate Agent - Highly Recommend!</div>

          <div class="testimonials__carousel swiper" data-testimonials-carousel>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person1.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">David Mallan</div>
                              <div class="testimony__signature">Sales Manager, Envato</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person2.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">James Turner</div>
                              <div class="testimony__signature">Product Manager, Envato</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person3.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">Ethan Foster</div>
                              <div class="testimony__signature">Product Manager</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person4.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">William Parker</div>
                              <div class="testimony__signature">Data Scientist</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person5.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">Daniel Mitchell</div>
                              <div class="testimony__signature">Landscape Designer</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimony__card">
                      <div class="testimony__info">
                          <div class="testimony__avatar">
                              <img src="/media/home-page/testimonials/person6.jpg" alt="David Mallan avatar">
                          </div>

                          <div class="testimony__personal">
                              <div class="testimony__name h3">Jacob Hayes</div>
                              <div class="testimony__signature">Sales Representative</div>
                              <div class="testimony__rating">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                  <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                              </div>
                          </div>
                      </div>

                      <div class="testimony__content">
                          But I must explain to you how all this idea
                          of denouncing pleasure and praising pain
                          was born and I will give you complete to
                          account of the system. 
                      </div>

                      <div class="testimony__location">
                          <div class="testimony__location-icon">
                              <img src="/media/icons/testimony-location.svg" alt="location icon">
                          </div>

                          <div class="testimony__location-city">Pennsylvania, USA</div>
                      </div>

                      <div class="testimony__quote-icon">
                          <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                      </div>
                  </div>
                </div>

              </div>
          </div>

          <div class="testimonials__arrows">
              <div class="button-prev theme-arrow" data-left>
                <i class="ri-arrow-left-line" aria-hidden="true"></i>
              </div>
              <div class="button-next theme-arrow" data-right>
                <i class="ri-arrow-right-line" aria-hidden="true"></i>
              </div>
          </div>
      </div>
  </div>
</section>


<!--
- #OUR PARTNERS CAROUSEL
-->
<section class="our-partners">
  <div class="container">
      <div class="row">
          <div class="section-title" data-sectiontitle-animation>
              <h2 class="main-title h2">Our partners</h2>
          </div>

          <p>We only work with the best companies around the globe.</p>

          <div class="logo-carousel swiper" data-partners-carousel>
              <div class="swiper-wrapper">
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.airbnb.pl/" target="_blank" aria-label="link to airbnb website">
                          <img src="/media/our_partners/airbnb.png" alt="airbnb logo" aria-hidden="true">
                      </a>
                  </div>
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.amazon.pl/" target="_blank" aria-label="link to amazon website">
                          <img src="/media/our_partners/amazon.svg" alt="amazon logo" aria-hidden="true">
                      </a>
                  </div>
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.google.com/" target="_blank" aria-label="link to google website">
                          <img src="/media/our_partners/google.png" alt="google logo" aria-hidden="true">
                      </a>
                  </div>
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.paypal.com/pl/home" target="_blank" aria-label="link to paypal website">
                          <img src="/media/our_partners/paypal.png" alt="paypal logo" aria-hidden="true">
                      </a>
                  </div>
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.microsoft.com/pl-pl" target="_blank" aria-label="link to microsoft website">
                          <img src="/media/our_partners/microsoft.png" alt="microsoft logo" aria-hidden="true">
                      </a>
                  </div>
                  <div class="logo-carousel__partner swiper-slide">
                      <a href="https://www.yahoo.com/" target="_blank" aria-label="link to yahoo website">
                          <img src="/media/our_partners/yahoo.png" alt="yahoo logo" aria-hidden="true">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}