{% extends 'core/base.html' %}

{% block page_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--
  - #CONTACT ICONS & FORM
-->
<section class="get-in-touch" id="contact-form">
    <div class="container">
        <div class="row">
            <div class="icons-column">
                <div class="section-title" data-animation-fade-from-bottom>
                    <h2 class="main-title h2">Let’s Get In Touch</h2>
                </div>

                <ul class="contact__icons">
                    <li>
                        <img src="/media/icons/contact-address.svg" alt="address icon" aria-hidden="true">
                        <span>150 Brunswick Street, Fitzory Vic 3065</span>
                    </li>

                    <li>
                        <img src="/media/icons/contact-phone.svg" alt="phone icon" aria-hidden="true">
                        <span>+ 1 456 789 321</span>
                    </li>

                    <li>
                        <img src="/media/icons/contact-email.svg" alt="email icon" aria-hidden="true">
                        <span>admin@mytasktrackerapp.com</span>
                    </li>
                </ul>
            </div>
            <div class="form-column">
                <form data-contact-form class="theme-form contact__form">
                    <div class="form__title">Have Questions? Get in touch!</div>

                    <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                        <label>leave this field blank to prove your humanity
                            <input type="text" name="url" value="" autocomplete="off" tabindex="-1">
                        </label>
                    </div>

                    <div class="form__row">
                        <div class="form__field">
                            <label for="contact-fullname" class="form__label">full name</label>
                            <div class="form__input-wrap">
                                <input data-fullname data-input type="text" id="contact-fullname"
                                       placeholder="Full Name">
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__field">
                            <label for="contact-phone" class="form__label">phone number</label>
                            <div class="form__input-wrap">
                                <input data-phone data-input type="text" id="contact-phone" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__field">
                            <label for="contact-email" class="form__label">email</label>
                            <div class="form__input-wrap">
                                <input data-email data-input type="text" id="contact-email" placeholder="Your Email">
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__field">
                            <label for="contact-content" class="form__label">message</label>
                            <div class="form__input-wrap">
                                <textarea data-content data-input id="contact-content"
                                          placeholder="Type Your Message..."></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form__row submit-row">
                        <div class="form__field form__submit">
                            <button class="btn secondary-btn" type="submit">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--
  - #CONTACT MAP
-->
<section class="contact__map">
    <div class="row contact__map__row">
        <div class="map__wrapper" id="map" data-contact-map>
        </div>
    </div>
</section>

<!--
  - #CONTACT CALL TO ACTION
-->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="call-to-action__wrapper">
                <div class="text-column">
                    <div class="call-to-action__title h2" data-animation-fade-from-left>Need Help? Talk To Our Expert</div>
                </div>

                <div class="button-column">
                    <a href="#contact-form" class="btn btn--line">
                        Contact us
                        <i class="btn-icon right ri-arrow-right-up-line" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
