<footer id="footer">
    <div class="footer-shape" aria-hidden="true">
        <img src="/media/shapes/footer.svg" alt="footer property shape">
    </div>
    <div class="container">
        <div class="row top-footer">
            <div class="info-column">
                <div class="footer__logo">
                    <a href="{% url 'index' %}">
                        <img src="/media/logo/logo-white.svg" alt="Global Estate Hub go to home page logo" aria-hidden="true">
                        <span class="visually-hidden">Global Estate Hub go to home page logo</span>
                    </a>
                </div>

                <div class="footer__description">
                    Global Estate Hub specializes in global real estate transactions, offering clients prime properties
                    and expert advisory services.
                </div>

                <div class="footer__newsletter">
                    <form method="post" data-newsletter-form>

                        <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                            <label>leave this field blank to prove your humanity
                                <input type="text" name="url" autocomplete="off" tabindex="-1">
                            </label>
                        </div>

                        <div class="form__row">
                            <div class="form__field">
                                <input data-email name="email" type="text" id="email" placeholder="Your Email" aria-label="Type your email to newsletter">
                            </div>

                            <div class="form__submit">
                                <button type="submit" id="send-newsletter" aria-label="Subscribe newsletter">Subscribe</button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="footer__socials">
                    <ul class="socials-list">
                        <li class="social-list__item">
                            <a href="#">
                                <i class="ri-facebook-fill" aria-hidden="true"></i>
                                <span class="visually-hidden">link to facebook</span>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#">
                                <i class="ri-instagram-line" aria-hidden="true"></i>
                                <span class="visually-hidden">link to instagram</span>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#">
                                <i class="ri-twitter-line" aria-hidden="true"></i>
                                <span class="visually-hidden">link to twitter</span>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="#">
                                <i class="ri-linkedin-fill" aria-hidden="true"></i>
                                <span class="visually-hidden">link to linkedin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="properties-column">
                <div class="footer__heading">
                    <h3 class="h3">Featured Properties</h3>
                </div>

                <div class="footer__properties">
                    <div class="footer__property">
                        <div class="property__image">
                            <img src="/media/placeholders/footer-property1.jpg" alt="Property name">
                        </div>

                        <div class="property__data">
                            <a href="#" class="property__title h3">Luxury Family Home</a>
                            <p class="property__price">$ 1, 250 / Per Month</p>
                        </div>
                    </div>

                    <div class="footer__property">
                        <div class="property__image">
                            <img src="/media/placeholders/footer-property2.jpg" alt="Property name">
                        </div>

                        <div class="property__data">
                            <a href="#" class="property__title h3">Luxury Villa Rego Park</a>
                            <p class="property__price">$ 2, 250 / Per Month</p>
                        </div>
                    </div>

                    <div class="footer__property">
                        <div class="property__image">
                            <img src="/media/placeholders/footer-property3.jpg" alt="Property name">
                        </div>

                        <div class="property__data">
                            <a href="" class="property__title h3">Manufactured Home</a>
                            <p class="property__price">$ 2, 250 / Per Month</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="links-column links1">
                <div class="footer__heading">
                    <h3 class="h3">Quick Links</h3>
                </div>

                {% if user.is_anonymous %}
                <ul class="footer-links">
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'properties' %}">Properties</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'faq' %}">Faq</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'register' %}">Sign Up</a>
                    </li>
                </ul>
                {% else %}
                <ul class="footer-links">
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'properties' %}">Properties</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'faq' %}">Faq</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'account-settings' %}">Account Settings</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="{% url 'add-property' %}">Add Property</a>
                    </li>
                </ul>
                {% endif %}
            </div>

            <div class="links-column links2">
                <div class="footer__heading">
                    <h3 class="h3">Discover</h3>
                </div>

                <ul class="footer-links">
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="#">Miami</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="#">Los Angeles</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="#">New York</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="#">Florida</a>
                    </li>
                    <li class="footer-links__item">
                        <a class="footer-links__link" href="#">Paris</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row bottom-footer">
            <div class="credits">
                <p>2023 All Right Reserved By
                    <a href="https://github.com/Szymon-Levy" target=”_blank”>Szymon</a>
                    and
                    <a href="https://github.com/hubertrykala93" target=”_blank”>Hubert.</a>
                </p>
            </div>

            <ul class="legals-links">
                <li class="legals-links__item">
                    <a href="#" class="legals-links__link">Terms of use</a>
                </li>
                <li class="legals-links__item">
                    <a href="#" class="legals-links__link">Privacy policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>