{% extends 'core/base.html' %}
{% load core_filters %}

{% block title %}{{ title }}{% endblock %}

{% block page-title %}

<!--
  - #HERO
-->
<section class="hero">
    <div class="container">
        <div class="row hero__row">
            <div class="content-column">
                <h1 class="hero__title h1">Find Your Dream <br> Home Easily.</h1>

                <p class="hero__text">Determine what you want Make a list of the things
                    you want in your dream home, such as the
                    number of bedrooms, bathrooms.
                </p>

                <div class="hero__form-wrapper">
                    <form data-hero-form class="hero__form" method="get" action="{% url 'properties-results' %}">

                        <div style="opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;">
                            <label>leave this field blank to prove your humanity
                                <input type="text" class="url" autocomplete="off" tabindex="-1">
                            </label>
                        </div>

                        <div class="hero__form__tabs">
                            <div class="form__row">
                                <div class="form__field">
                                    <div data-change-status class="form__input-wrap form__radio-wrapper">
                                        <label>
                                            <input data-status data-input type="radio" name="status" value="rent" checked>
                                            <span class="checkmark"></span>
                                            <div class="radio__label">Rent</div>
                                        </label>
                                        
                                        <label>
                                            <input data-status data-input type="radio" name="status" value="sell">
                                            <span class="checkmark"></span>
                                            <div class="radio__label">Sell</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hero__form__bar">
                            <div class="hero__circle-wrapper">
                                <div class="hero__circle__image-wrapper">
                                    <img src="/media/home-page/circle-text.svg" alt="2024 february special offer">
                                </div>
                            </div>

                            <div class="form__row form__row__select-range">
                                <div class="form__field">
                                    <div class="form__input-wrap form__select-wrapper">
                                        <div class="custom__select" data-custom-select>
                                            <button
                                                class="custom__select__button"
                                                type="button"
                                                role="combobox"
                                                aria-labelledby="select button"
                                                aria-haspopup="listbox"
                                                aria-expanded="false"
                                                aria-controls="select-location"
                                                data-custom-select-btn>
                                                <i class="ri-map-pin-line select__icon" aria-hidden="true"></i>
                                                <span class="custom__select__button__selected__wrapper">
                                                    <span class="select__title">Location</span>
                                                    <i class="custom__select__button__arrow ri-arrow-down-s-fill" aria-hidden="true"></i>
                                                    <span class="custom__select__button__selected__value" data-custom-select-btn-value data-selected-location>Select Location</span>
                                                </span>
                                            </button>
                    
                                            {% if cities %}
                                            <ul class="custom__select__dropdown" role="listbox" id="select-location" data-change-location>

                                                {% for city in cities %}
                                                <li role="option">
                                                    <input data-option type="radio" value="{{ city.name }}" id="{{ city.slug }}" name="location" />
                                                    <label for="{{ city.slug }}">{{ city.name }}</label>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form__row form__row__select-range dividers">
                                <div class="form__field">
                                    <div class="form__input-wrap form__select-wrapper">
                                        <div class="custom__select" data-custom-select>
                                            <button
                                                class="custom__select__button"
                                                type="button"
                                                role="combobox"
                                                aria-labelledby="select button"
                                                aria-haspopup="listbox"
                                                aria-expanded="false"
                                                aria-controls="select-type"
                                                data-custom-select-btn>
                                                <i class="ri-home-3-line select__icon" aria-hidden="true"></i>
                                                <span class="custom__select__button__selected__wrapper">
                                                    <span class="select__title">Property Type</span>
                                                    <i class="custom__select__button__arrow ri-arrow-down-s-fill" aria-hidden="true"></i>
                                                    <span class="custom__select__button__selected__value" data-custom-select-btn-value data-selected-category>Select Property Type</span>
                                                </span>
                                            </button>
                    
                                            {% if categories %}
                                            <ul class="custom__select__dropdown" role="listbox" id="select-type" data-change-category>

                                                {% for category in categories %}
                                                <li role="option">
                                                    <input data-option type="radio" value="{{ category.name }}" id="{{ category.slug }}" name="category" />
                                                    <label for="{{ category.slug }}">{{ category.name }}</label>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form__row form__row__select-range">
                                <div class="form__field">
                                    <div class="form__input-wrap form__select-wrapper">
                                        <div class="custom__select" data-custom-select>
                                            <button
                                                class="custom__select__button"
                                                type="button"
                                                role="combobox"
                                                aria-labelledby="select button"
                                                aria-haspopup="listbox"
                                                aria-expanded="false"
                                                aria-controls="select-year"
                                                data-custom-select-btn>
                                                <i class="ri-calendar-event-line select__icon" aria-hidden="true"></i>
                                                <span class="custom__select__button__selected__wrapper">
                                                    <span class="select__title">Built year</span>
                                                    <i class="custom__select__button__arrow ri-arrow-down-s-fill" aria-hidden="true"></i>
                                                    <span class="custom__select__button__selected__value" data-custom-select-btn-value data-selected-year>Select year</span>
                                                </span>
                                            </button>

                                            {% if years_of_built %}
                                            <ul class="custom__select__dropdown" role="listbox" id="select-year" data-change-year>

                                                {% for year in years_of_built %}
                                                <li role="option">
                                                    <input data-option type="radio" value="{{ year }}" id="{{ year }}" name="year" />
                                                    <label for="{{ year }}">{{ year }}</label>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form__row submit-row">
                                <div class="form__field form__submit">
                                    <button class="btn primary-btn" type="submit">
                                        <i class="ri-search-line" aria-hidden="true"></i>
                                        <span class="visually-hidden">Search</span>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="numberCounters" data-hero-counters>
                    <div class="numberCounters__item">
                        <div class="numberCounters__number-wrapper">
                            <span class="numberCounters__number" data-number="{{ substracted_year }}">{{ substracted_year }}</span>
<!--                            <span class="numberCounters__number-char">+</span>-->
                        </div>
                        <div class="numberCounters__number-text">Years of Services</div>
                    </div>

                    <div class="numberCounters__item">
                        <div class="numberCounters__number-wrapper">
                            <span class="numberCounters__number" data-number="{% if customers_counter < 2 %}{{ customers_counter }}{% else %}{{ substracted_customers_counter }}{% endif %}">{% if customers_counter < 2 %}{{ customers_counter }}{% else %}{{ substracted_customers_counter }}{% endif %}</span>
                            {% if customers_counter > 1 %}<span class="numberCounters__number-char">+</span>{% endif %}
                        </div>
                        <div class="numberCounters__number-text">{% if customers_counter == 0 %}Happy Customers{% elif customers_counter == 1 %}Happy Customer{% else %}Happy Customers{% endif %}</div>
                    </div>

                    <div class="numberCounters__item">
                        <div class="numberCounters__number-wrapper">
                            <span class="numberCounters__number" data-number="{% if properties_counter < 2 %}{{ properties_counter }}{% else %}{{ substracted_properties_counter }}{% endif %}">{% if properties_counter < 2 %}{{ properties_counter }}{% else %}{{ substracted_properties_counter }}{% endif %}</span>
                            {% if properties_counter > 1 %}<span class="numberCounters__number-char">+</span>{% endif %}
                        </div>
                        <div class="numberCounters__number-text">{% if properties_counter == 0 %}Ready Properties{% elif properties_counter == 1 %}Ready Property{% else %}Ready Properties{% endif %}</div>
                    </div>
                </div>
            </div>

            <div class="image-column">
                <div class="hero__image-wrapper">
                    <img src="/media/home-page/hero-image2.jpg" alt="main page image" aria-hidden="true">
                </div>

                <div class="agents__wrapper">
                    <img src="/media/home-page/agents.jpg" alt="agents box image" class="agents__wrapper__bg" aria-hidden="true">

                    <div class="agents__overlay">
                        {% if agents %}
                        <ul class="agents__list">
                            {% for agent in agents %}
                            <li class="agents__list__item">
                                <a href="{% url 'account-details' agent %}" class="agents__list__link">
                                    <img src="{{ agent.image.url }}" alt="agent avatar" class="agent__avatar" aria-hidden="true">
                                </a>
                            </li>
                            {% endfor %}

                            <li class="agents__list__item">
                                <a href="{% url 'top-agents' %}" class="agents__list__link">
                                    +
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                        <div class="agents__text">
                            <span class="agents__counter">{{ agents|length }}</span>{% if agents|length == 0 %} Exclusive Agents{% elif agents|length == 1 %} Exclusive Agent{% elif agents|length > 1 and agents|length <= 4 %} Exclusive Agents{% elif agents|length > 4 %}+ Exclusive Agents{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
  - #CATEGORIES
-->
<section class="home__categories" data-home-categories>
    <div class="container">
        <div class="row title__row">
            <div class="content">
                <div class="section-title" data-sectiontitle-animation="">
                    <div class="upper-title h4">Apartment</div>
                    <h2 class="main-title h2"> Explore Apartment Types</h2>
                </div>
                <p>Get some inspirations from 1600+ skills</p>
            </div>

            <div class="categories__arrows">
                <div class="button-prev theme-arrow" data-left>
                    <i class="ri-arrow-left-line" aria-hidden="true"></i>
                </div>
                <div class="button-next theme-arrow" data-right>
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="row carousel__row">
            <div class="categories__carousel swiper" data-home-categories-carousel>
                <div class="swiper-wrapper">
                    {% for name, image, url, length in get_category_properties_info %}
                    <div class="swiper-slide">
                        <div class="category__wrapper">
                            <div class="category__image-wrapper">
                                <img class="category__image-bg" src="{{ image }}" alt="image of category {{ name }}">
                                <a href="{{ url }}" class="category__image__overlay" target="_blank">
                                    <i class="ri-external-link-line" aria-hidden="true"></i>
                                    <span class="visually-hidden">Go to category {{ name }}</span>
                                </a>
                            </div>

                            <div class="category__title">
                                <a href="{{ url }}">{{ name }}</a>
                            </div>

                            <div class="category__count">{{ length }} Properties</div>
                        </div>                   
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<!--
  - #ABOUT US
-->
<section class="about" data-aboutsection-animation>
    <div class="container">
        <div class="row">
            <div class="content-column">
                <div class="section-title" data-sectiontitle-animation>
                    <div class="upper-title h4">About us</div>
                    <h2 class="main-title h2">We offer quality homes for purchase and rental</h2>
                </div>

                <div class="about__text">
                    We offer a wide range of properties to suit any budget and lifestyle
                    Whether you are looking for a starter home, a luxury property,
                    or an investment opportunity.
                </div>

                <div class="about__call">
                    <p>Talk to our destination as a direct call:</p>
                    <span class="number">+ 1 456 789 321</span>
                </div>

                <ul class="about__list">
                    <li class="about__list-item">Outstanding Property</li>
                    <li class="about__list-item">Provied the best services for users</li>
                    <li class="about__list-item">Modern city locations and exceptional lifestyle</li>
                </ul>

                <a href="#" class="btn secondary-btn">
                    Find out more
                    <i class="btn-icon right ri-arrow-right-s-line" aria-hidden="true"></i>
                </a>
            </div>

            <div class="image-column">
                <div class="about__collage">
                    <div class="column-single">
                        <div class="image single"></div>
                    </div>

                    <div class="column-double">
                        <div class="image top"></div>
                        <div class="image bottom"></div>
                    </div>
                </div>

                <div class="about__quote">
                    <div class="quote-decoration">
                        <img class="quote-lines" src="/media/about_us/double-lines.png" alt="quote lines"
                             aria-hidden="true">
                        <div class="quote-icon">
                            <img class="quote-mark" src="/media/about_us/quote.svg" alt="quote mark" aria-hidden="true">
                        </div>
                    </div>

                    Get the Best pricing plan that's perfect for you
                </div>

                <img class="about__arrow" src="/media/about_us/arrow.svg" alt="about arrow" aria-hidden="true">
            </div>
        </div>
    </div>
</section>


<!--
  - #LAST PROPERTIES
-->
<section class="last-properties">
    <div class="container">
        <div class="row title-row">
            <div class="section-title" data-sectiontitle-animation>
                <div class="upper-title h4">Properties</div>
                <h2 class="main-title h2">Explore Latest Properties</h2>
            </div>

            <p>
                At our real estate website, we have a wide range of properties to suit every need
            </p>
        </div>

        <div class="row properties-cards__row">
            {% for property in latest_properties %}

            <div class="property-card__column">
                <div class="property-card__wrapper" data-property-card data-id="{{ property.id }}">
                    <div class="property-card__image">
                        {% if property.is_featured %}<span class="property-card__badge property-card__badge--secondary">Featured</span>{% endif %}
                        <a href="{{ property.get_absolute_url }}">
                            <img src="{{ property.thumbnail.url }}" alt="{{ property.title }} image">
                        </a>
                    </div>

                    <div class="property-card__content">
                        <div class="property-card__title h4">
                            <a href="{{ property.get_absolute_url }}">{{ property.title }}</a>
                        </div>

                        <div class="property-card__localization">
                            <i class="ri-map-pin-line" aria-hidden="true"></i>
                            {% if property.postal_code %}{{ property.postal_code }}{% endif %} {{ property.city }}, {{ property.province }}, {{ property.country }}
                        </div>

                        <ul class="property-card__info">
                            <li>
                                <img src="/media/icons/properties/property-card-bed.svg" alt="beds icon" aria-hidden="true">
                                <span>{% if property.number_of_bedrooms == 0 %}{{ property.number_of_bedrooms }} Bedrooms{% elif property.number_of_bedrooms == 1 %}{{ property.number_of_bedrooms }} Bedroom{% else %}{{ property.number_of_bedrooms }} Bedrooms{% endif %}</span>
                            </li>

                            <li>
                                <img src="/media/icons/properties/property-card-bathroom.svg" alt="bath icon" aria-hidden="true">
                                <span>{% if property.number_of_bathrooms == 0 %}{{ property.number_of_bathrooms }} Baths{% elif property.number_of_bathrooms == 1 %}{{ property.number_of_bathrooms }} Bath{% else %}{{ property.number_of_bathrooms }} Baths{% endif %}</span>
                            </li>

                            <li>
                                <img src="/media/icons/properties/property-card-area.svg" alt="area icon" aria-hidden="true">
                                <span>{{ property.square_meters }} Sq M</span>
                            </li>
                        </ul>

                        <div class="property-card__footer">
                            <div class="property-card__price">${{ property.price|price_converter }}</div>

                            <span class="property-card__badge property-card__badge--primary">For {% if property.listing_status.name == 'Rent' %}Rent{% else %}Sale{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row button-row">
            <a class="last-properties__more-btn" href="/properties">
                See all properties
                <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>


<!--
  - #CITIES
-->
<section class="home__cities" data-home-cities>
    <div class="container">
        <div class="row title__row">
            <div class="content">
                <div class="section-title" data-sectiontitle-animation>
                    <div class="upper-title h4">Cities</div>
                    <h2 class="main-title h2"> Explore our cities</h2>
                </div>
                <p>We are proud to serve clients in a variety of cities and neighborhoods</p>
            </div>

            <div class="cities__arrows">
                <div class="button-prev theme-arrow" data-left>
                    <i class="ri-arrow-left-line" aria-hidden="true"></i>
                </div>
                <div class="button-next theme-arrow" data-right>
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="row carousel__row">
            <div class="cities__carousel swiper" data-home-cities-carousel>
                <div class="swiper-wrapper">

                    {% for name, image, url, length in get_cities_info %}
                    <div class="swiper-slide">
                        <div class="city__wrapper">
                            <img class="city__image-bg" src="{{ image }}" alt="image of city {{ name }}">

                            <div class="city__content">
                                <div class="city__details">
                                    <a class="city__name" href="{{ url }}">
                                        <i class="ri-map-pin-line" aria-hidden="true"></i>
                                        {{ name }}
                                    </a>

                                    <div class="city__count">{% if length|length == 0 %}{{ length }} Property{% else %}{{ length }} Properties{% endif %}</div>
                                </div>

                                <a href="{{ url }}" class="city__arrow-btn" target="_blank">
                                    <i class="ri-arrow-right-up-line"></i>
                                    <span class="visually-hidden">See properties from {{ name }}</span>
                                </a>
                            </div>

                        </div>                   
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>


<!--
  - #TESTIMONIALS SECTION
-->
<section class="testimonials" data-testimonials>
    <div class="container">
        <div class="row">
            <div class="section-title" data-sectiontitle-animation>
                <div class="upper-title h4">Testimonials</div>
                <h2 class="main-title h2"> Our Customer To Says</h2>
            </div>

            <div class="testimonials__text">Excellent Experience with Real Estate Agent - Highly Recommend!</div>

            <div class="testimonials__carousel swiper" data-testimonials-carousel>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person1.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">David Mallan</div>
                                    <div class="testimony__signature">Sales Manager, Envato</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person2.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">James Turner</div>
                                    <div class="testimony__signature">Product Manager, Envato</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person3.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">Ethan Foster</div>
                                    <div class="testimony__signature">Product Manager</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person4.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">William Parker</div>
                                    <div class="testimony__signature">Data Scientist</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person5.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">Daniel Mitchell</div>
                                    <div class="testimony__signature">Landscape Designer</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimony__card">
                            <div class="testimony__info">
                                <div class="testimony__avatar">
                                    <img src="/media/home-page/testimonials/person6.jpg" alt="David Mallan">
                                </div>

                                <div class="testimony__personal">
                                    <div class="testimony__name h3">Jacob Hayes</div>
                                    <div class="testimony__signature">Sales Representative</div>
                                    <div class="testimony__rating">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                        <img src="/media/icons/testimony-star.svg" alt="rating star" aria-hidden="true">
                                    </div>
                                </div>
                            </div>

                            <div class="testimony__content">
                                But I must explain to you how all this idea
                                of denouncing pleasure and praising pain
                                was born and I will give you complete to
                                account of the system.
                            </div>

                            <div class="testimony__location">
                                <div class="testimony__location-icon">
                                    <img src="/media/icons/testimony-location.svg" alt="location icon">
                                </div>

                                <div class="testimony__location-city">Pennsylvania, USA</div>
                            </div>

                            <div class="testimony__quote-icon">
                                <img src="/media/icons/testimony-quote.svg" alt="quote icon" aria-hidden="true">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="testimonials__arrows">
                <div class="button-prev theme-arrow" data-left>
                    <i class="ri-arrow-left-line" aria-hidden="true"></i>
                </div>
                <div class="button-next theme-arrow" data-right>
                    <i class="ri-arrow-right-line" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
  - #BLOG SECTION
-->
<section class="home-blog" data-home-blog-animation>
    <div class="container">
        <div class="row title-row">
            <div class="section-title" data-sectiontitle-animation>
                <div class="upper-title h4">Blog</div>
                <h2 class="main-title h2">Our Latest Blog</h2>
            </div>

            <p>
                Your Trusted Guide to Buying, Selling, and Investing in Real Estate
            </p>
        </div>

        <div class="row blog-cards-row">
            {% for article in latest_articles %}
            <div class="blog-card__column">
                <div class="blog-card__wrapper">
                    <a class="blog-card__category"
                       href="{{ article.category.get_absolute_url }}">{{ article.category }}</a>
                    <div class="blog-card__image">
                        <a href="{{ article.get_absolute_url }}">
                            <img src="{{ article.image.url }}" alt="{{ article.title }} intro image">
                        </a>
                    </div>

                    <div class="blog-card__content">
                        <div class="blog-card__info">
                            <div class="blog-card__info__item">
                                <div class="blog-card__info__icon">
                                    <img src="/media/icons/blog-card-author.svg" alt="author icon">
                                </div>

                                    <a href="{% url 'account-details' article.user %}"><div class="blog-card__info__title">{{ article.user.username }}</div></a>


                            </div>

                            <div class="blog-card__info__item">
                                <div class="blog-card__info__icon">
                                    <img src="/media/icons/blog-card-calendar.svg" alt="calendar icon">
                                </div>

                                <div class="blog-card__info__title">{{ article.date_posted }}</div>
                            </div>
                        </div>

                        <div class="blog-card__article-title">
                            <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                        </div>

                        <a class="blog-card__read-more" href="{{ article.get_absolute_url }}" aria-label="Read more about {{ article.title }}">
                            Read more
                            <i class="ri-arrow-right-up-line" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!--
  - #OUR PARTNERS CAROUSEL
-->
<section class="our-partners">
    <div class="container">
        <div class="row">
            <div class="section-title" data-sectiontitle-animation>
                <h2 class="main-title h2">Our partners</h2>
            </div>

            <p>We only work with the best companies around the globe.</p>

            <div class="logo-carousel swiper" data-partners-carousel>
                <div class="swiper-wrapper">
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.airbnb.pl/" target="_blank" aria-label="link to airbnb website">
                            <img src="/media/our_partners/airbnb.png" alt="airbnb logo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.amazon.pl/" target="_blank" aria-label="link to amazon website">
                            <img src="/media/our_partners/amazon.svg" alt="amazon logo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.google.com/" target="_blank" aria-label="link to google website">
                            <img src="/media/our_partners/google.png" alt="google logo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.paypal.com/pl/home" target="_blank" aria-label="link to paypal website">
                            <img src="/media/our_partners/paypal.png" alt="paypal logo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.microsoft.com/pl-pl" target="_blank" aria-label="link to microsoft website">
                            <img src="/media/our_partners/microsoft.png" alt="microsoft logo" aria-hidden="true">
                        </a>
                    </div>
                    <div class="logo-carousel__partner swiper-slide">
                        <a href="https://www.yahoo.com/" target="_blank" aria-label="link to yahoo website">
                            <img src="/media/our_partners/yahoo.png" alt="yahoo logo" aria-hidden="true">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}