{% with request.resolver_match.url_name as url_name %}
<ul class="main-menu nav">
    <li class="nav__item">
        <a href="{% url 'index' %}" class="nav__link {% if url_name == 'index' %}active{% endif %}">Home</a>
    </li>
    <li class="nav__item">
        <a href="{% url 'about' %}" class="nav__link {% if url_name == 'about' %}active{% endif %}">About</a>
    </li>
    <li class="nav__item">
        <a href="{% url 'properties' %}"
           class="nav__link {% if url_name == 'properties' %}active{% endif %}">Properties</a>
    </li>
    <li class="nav__item">
        <a href="{% url 'faq' %}" class="nav__link {% if url_name == 'faq' %}active{% endif %}">Faq</a>
    </li>
    <li class="nav__item">
        <a href="{% url 'blog' %}" class="nav__link {% if url_name == 'blog' %}active{% endif %}">Blogs</a>
    </li>
    <li class="nav__item">
        <a href="{% url 'contact' %}" class="nav__link {% if url_name == 'contact' %}active{% endif %}">Contact</a>
    </li>
</ul>
{% endwith %}