<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="page-title__border-wrapper">
                <h1 class="h1 title" data-animation-fade-from-right>{{ title }}</h1>

                <ul class="breadcrumbs" data-animation-fade-from-bottom>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>

                    <li>
                        <span>{{ title }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>