<section class="page-title" data-pagetitle-animation>
    <div class="container">
        <div class="row">
            <div class="page-title__border-wrapper">
                <h1 class="h1 title">{{ title }}</h1>

                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>

                    {% for item_1, item_2 in urls %}
                    <li>
                        <a href="{{ item_2 }}">{{ item_1 }}</a>
                    </li>
                    {% endfor %}

                    <li>
                        <span>{{ title }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>